<#import '/inc/inc.htm' as inc />

<@inc.header '电话营销统计' 'statistics' '0.0.1' 'index' ',statistics_phone.css,plugin/pagination.css,plugin/calendar/calendar.css'>
</@inc.header>

<@inc.body>
	<div class="page-title">
        <h2>
			<span><strong>电话营销统计</strong></span>
		</h2>
    </div>

    <#assign vo = result.model/>
    <div class="main-list">
        <#assign model = vo.model/>
        <#assign info = model.telStatisticsInfo/>
        <div class="info fn-clear">
            <ul class="statistics">
                <li class="item">交易金额：<em>${info.money}</em></li>
                <li class="item">询价次数：<em>${info.inquiryNum}</em></li>
                <li class="item">询价厂家数：<em>${info.inquiryMfctyNum}</em></li>
                <li class="item">交易次数：<em>${info.treadNum}</em></li>
                <li class="item">交易厂家数：<em>${info.treadMfctyNum}</em></li>
            </ul>
        </div>
        <#assign baseParams = vo.params.base/>
        <#assign specialParams = vo.params.special/>
        <#escape x as x?if_exists>
        <div class="tool">
            <span class="label">筛选:</span>
            <div class="group">
                <label>订单号</label>
                <input name="orderNo" value="${specialParams.orderNo}"/>
            </div>
            <div class="group">
                <label>汽修厂</label>
                <input name="mfctyName" value="${baseParams.mfctyName}"/>
            </div>
            <div class="group">
                <label>汽修厂ID</label>
                <input name="mfctyId" value="${baseParams.mfctyId}"/>
            </div>
            <div class="group">
                <label>联系人</label>
                <select name="userId" id="userId">
                    <#if $user.isAdmin?if_exists>
                    <option value="0">全部</option>
                    </#if>
                </select>
            </div>
        </div>
        <div class="tool">
            <span class="label">筛选:</span>
            <div class="group">
                <label>下单时间</label>
                <input name="buyBeginTime" class="start" value="${specialParams.buyBeginTime}"/>至<input name="buyEndTime" class="end" value="${specialParams.buyEndTime}"/>
            </div>
            <div class="group">
                <label>录入日期</label>
                <input name="beginTime" class="start" value="${specialParams.beginTime}"/>至<input name="endTime" class="end" value="${specialParams.endTime}"/>
            </div>
            <div class="group">
                <button class="btn">查询</button>
            </div>
        </div>
        </#escape>
        <#--<div class="subtool fn-clear">
            <span class="fn-left label">排序:</span>
            <ul>
                <li>按交易金额</li>
            </ul>

        </div>-->

    	<div class="js-course-list fn-clear">

            <table class="gridtable" summary="2007 Major IT Companies' Profit">
                <thead>
                <tr>
                    <th scope="col">下单日期</th>
                    <th scope="col">订单号</th>
                    <th scope="col">汽修厂 [ID?]</th>
                    <th scope="col">金额</th>
                    <th scope="col">支付方式</th>
                    <th scope="col">支付时间</th>
                    <th scope="col">下单人ID</th>
                    <th scope="col">付款人ID</th>
                    <th scope="col">跟踪客服</th>
                    <th scope="col">录入日期</th>
                    <th scope="col">下单>>签收</th>
                </tr>
                </thead>

                <tbody>
                    <#assign list = model.telStatisticsList/>
                    <#if list?size gt 0>
                    <#escape x as x?if_exists>
                    <#list list as bill>
                        <tr>
                            <td>
                                ${bill.publishTime?string('yyyy-MM-dd')}
                            </td>
                            <td>${bill.orderMainNo}</td>
                            <td title="${bill.demanderId}">${bill.demander}</td>
                            <td>
                                ${bill.money}
                            </td>
                            <td>${bill.payModeName}</td>
                            <td>
                                ${bill.payTime?string('yyyy-MM-dd')}
                            </td>
                            <td>
                                ${bill.makeUserId}
                            </td>
                            <td>
                                ${bill.payUserId}
                            </td>
                            <td>
                                ${bill.userName}
                            </td>
                            <td>
                                ${bill.recordTime?string('yyyy-MM-dd')}
                            </td>
                            <td>
                                ${bill.spentTime?default("未确认签收")}
                            </td>
                        </tr>
                    </#list>
                    </#escape>
                    <#else>
                    <tr class="nodata">
                        <td colspan="11">没有符合条件的数据</td>
                    </tr>
                    </#if>
                </tbody>
            </table>

            <div class="pager"></div>

    	</div>
    </div>
</@inc.body>

<@inc.footer>
<script>
    var params = {
        total:'${vo.total}',
        size:'${vo.size}',
        current:'${vo.current}'
    };
</script>
</@inc.footer>