extends layout
block styleblock
    link(rel='stylesheet',href='css/address.css')
block content
    #afui
        header#header
            a(href='#',class='back',title='')
            h1 选择收货地址
            a.header_cart(href='cart.html',title='')
                i: span 99
        #content
            form(action='order.html',method='get')
                ul.delivery_address
                    li.td1
                        label.f_checkbox_normal.selected 默认地址
                            input(class='',type='radio',name='address',value='',checked='checked')
                    li.td2
                        p <span>张三</span>
                        p <span>广东省</span><span>广州市</span><span>白云区</span>
                        p <span>广花一路633号平沙国际商务中心502室广花一国际商务中心502室</span>
                        p (<span>510440</span>）
                        p <span>13631365214</span>
                    li.td3
                        a(href='add_address.html') 编辑
                ul.delivery_address
                    li.td1
                        label.f_checkbox_normal.unselected 设为默认
                            input(class='',type='radio',name='address',value='')
                    li.td2
                        p <span>张三</span>
                        p <span>广东省</span><span>广州市</span><span>白云区</span>
                        p <span>广花一路633号平沙国际商务中心502室广花一国际商务中心502室</span>
                        p (<span>510440</span>）
                        p <span>13631365214</span>
                    li.td3
                        a(href='add_address.html') 编辑
                ul.delivery_address
                    li.td1
                        label.f_checkbox_normal.unselected 设为默认
                            input(class='',type='radio',name='address',value='')
                    li.td2
                        p <span>张三</span>
                        p <span>广东省</span><span>广州市</span><span>白云区</span>
                        p <span>广花一路633号平沙国际商务中心502室广花一国际商务中心502室</span>
                        p (<span>510440</span>）
                        p <span>13631365214</span>
                    li.td3
                        a(href='add_address.html') 编辑

                .bottom_btn
                    a.buy_btn(href='add_address.html',title='') 增加新的收货地址
block jsblock
    script(src='js/order.js')