extends layout

block styleblock
    link(rel='stylesheet',href='css/detail.css')

block content
    #afui
        header#header
            a(href='#',class='back',title='')
            h1 商品详情
            a.header_cart(href='cart.html',title='')
                i: span 99

        #content
            .main_visual
                .flicking_con
                    a(href='#') 1
                    a(href='#') 2
                    a(href='#') 3
                    a(href='#') 4
                    a(href='#') 5
                .main_image
                    ul
                        li: img(src='images/examples/0.png')
                        li: img(src='images/examples/02.jpg')
                        li: img(src='images/examples/1.png')
                        li: img(src='images/examples/0.png')
                        li: img(src='images/examples/1.png')
                    a#btn_prev(href='javascript:;')
                    a#btn_next(href='javascript:;')
                .bar1
                    span 收藏
                .bar2.like
                    span 899+
            .good_tag 商品编号：BE004b80138
            .information_part1
                .good_detail_title.fl
                    p.good_title 圆头拉链皮革拼接磨砂皮粗高跟低筒革拼接磨砂皮粗高跟低筒
                    .good_price ¥<i>599.00</i>
                .share.fl
                    img(src='images/icon/share_icon.png',alt='')
                    p 分享
            .popup_share
                h3 分享到
                    .popup_close
                .share_content.bdsharebuttonbox
                    a.weibo(href='#',title='',data-cmd='tsina')
                        img(src='images/weibo2.png',alt='')
                        p 新浪微博
                    a.qzone(href='#',title='',data-cmd='qzone')
                        img(src='images/qzone.png',alt='')
                        p QQ空间
                    a.weixin(href='#',title='')
                        img(src='images/weixin2.png',alt='')
                        p 微信
            .information_part2
                each item in [{k:'跟型',v:'粗跟'},{k:'适用场景',v:'日常'},{k:'鞋面材质',v:'牛皮'},{k:'跟高',v:'高跟(5-7cm)'},{k:'内里材质',v:'猪皮'},{k:'鞋底材质',v:'塑胶'},{k:'流行材质',v:'拼接撞色'},{k:'类型',v:'低筒靴'},{k:'闭合方式',v:'拉链'},{k:'女鞋头款',v:'圆头'}]
                    .tag_k #{item.k}：
                        span #{item.v}


            .other_color
                h4 其它颜色：
                ul
                    li.selected
                        a(href='detail.html',target='_blank',title='')
                            img(src='images/examples/a2.jpg',alt='')
                            p 黑色黄色白色
                    li
                        a(href='detail.html',target='_blank',title='')
                            img(src='images/examples/a1.jpg',alt='')
                            p 白色
                    li
                        a(href='detail.html',target='_blank',title='')
                            img(src='images/examples/a1.jpg',alt='')
                            p 白色
                    li
                        a(href='detail.html',target='_blank',title='')
                            img(src='images/examples/a1.jpg',alt='')
                            p 白色
                    li
                        a(href='detail.html',target='_blank',title='')
                            img(src='images/examples/a1.jpg',alt='')
                            p 白色
            .detail_img
                ul
                    li: img(src='images/examples/0.png')
                    li: img(src='images/examples/02.jpg')
                    li: img(src='images/examples/1.png')
                    li: img(src='images/examples/0.png')
                    li: img(src='images/examples/1.png')
            .bottom_btn
                .add_cart_btn 加入购物车
                .buy_btn 立即购买
        form#buy_content(action='order.html',method='post')
            .small
                img(src='images/examples/0.png',alt='')
                p.good_price ¥<span>599.00</span>
                p 请选择尺码
                .popup_form_close
            .information_part3
                mixin tag(tags)
                    each tag in tags
                        label.f_radio.unselected #{tag}
                            input(type='radio',name=' ',value='')
                +tag(['245/39','250/40','220/34','225/35','230/36','235/37','240/38'])
            .information_part4
                p 购买数量
                .numbers
                    input.cut(type='button',value='-',name='')
                    input.text_box(type='text',value='1',name='')
                    input.add(type='button',value='+',name='')
            input(type='submit',class='button',value='确定',name='')
        form#add_content(action='',method='post')
            .small
                img(src='images/examples/0.png',alt='')
                p.good_price ¥<span>599.00</span>
                p 请选择尺码
                .popup_form_close
            .information_part3
                mixin tag(tags)
                    each tag in tags
                        label.f_radio.unselected #{tag}
                            input(type='radio',name=' ',value='')
                +tag(['245/39','250/40','220/34','225/35','230/36','235/37','240/38'])
            .information_part4
                p 购买数量
                .numbers
                    input.cut(type='button',value='-',name='')
                    input.text_box(type='text',value='1',name='')
                    input.add(type='button',value='+',name='')
            input(type='submit',class='button add_cart',value='确定',name='')
        #toTop
block jsblock
    script(src='js/jquery.touchSlider.js')
    script(src='js/jquery.event.drag-1.5.min.js')
    script(src='js/detail.js')