extends layout
block styleblock
    link(rel='stylesheet',href='css/home.css')
block content
    #afui
        header#header
            a(href='#',class='back',title='')
            h1 个人中心
            .search
            form.popup_search(action='/search/', method='get')
                input#searchKeyword(placeholder='请输入商品关键字...',name='k')
                input#searchBtn(type='submit',value='')
        #content
            .user_header
                .user_img.fl
                    img(src='images/header.png',alt='')
                .user_name.fl
                    .name 萌萌哒小妹纸
                        i.female
                        i.male
                    button 签到
                .hongbao.fr
                    p &yen;<span>999</span>
                    p.hongbao_h 我的红包
            ul.order_list
                li
                    p 0
                    a(href='order_unpaid.html',title='') 待付款
                li
                    p 0
                    a(href='order_paid.html',title='') 待发货
                li
                    p 0
                    a(href='order_paid.html',title='') 待收货
            ul.user_list
                li.my_hongbao: a(href='hongbao.html',title='') 我的红包
                    img(src='images/personal_myhongbao.png')
                    i 99
                    label 余额：<span> 9999</span>元
                li.my_jifen: a(href='jifen.html',title='') 我的积分
                    img(src='images/personal_jifen.png')
                    i 9
                    label <span> 999</span>点
                li.my_show: a(href='show.html',title='') 我的晒单秀
                    img(src='images/personal_show.png')
                    label <span> 22</span>人赞过
                li.all_order: a(href='order_all.html',title='') 所有订单
                    img(src='images/personal_allfolder.png')

            ul.user_list
                li.my_favorite: a(href='home_like.html',title='') 我关注的商品
                    img(src='images/personal_guanzhu.png')
                li.my_seen: a(href='home_favorite.html',title='') 我看过的商品
                    img(src='images/personal_kanguo.png')
                li.my_collection: a(href='home_favorite.html',title='') 我收藏的商品
                    img(src='images/personal_shouchang.png')

            ul.user_list
                li.home_setting: a(href='home_setting.html',title='') 设置
                    img(src='images/personal_setting.png')
            .app
                a.android
                    img(src='images/home_android.png')
                    span Android客户端
                a.ios
                    img(src='images/home_ios.png')
                    span IOS客户端

        footer
            a(href='index.html',class='home',title='')
                .img
                    img(src='images/icon/home.png',alt='')
                p 首页
            a(href='list.html',class='fenlei',title='')
                .img
                    img(src='images/icon/fenlei.png',alt='')
                p 分类
            a(href='show.html',class='show',title='')
                .img
                    img(src='images/icon/show_img.png',alt='')
                p 买家秀
            a(href='cart.html',class='cart',title='')
                .img
                    img(src='images/icon/cart.png',alt='')
                    i: span 100
                p 购物车
            a(href='home.html',class='personal selected',title='')
                .img
                    img(src='images/icon/personal.png',alt='')
                    i: span 99
                p 个人中心
        .form_content
            ul
                li.h3 热门搜索：
                li
                    a(href='list.html',title='') 高跟鞋
                li
                    a(href='list.html',title='') 平底鞋
                li
                    a(href='list.html',title='') 松糕鞋
                li
                    a(href='list.html',title='') 长筒靴
                li
                    a(href='list.html',title='') 高跟鞋
                li
                    a(href='list.html',title='') 平底鞋
                li
                    a(href='list.html',title='') 松糕鞋
                li
                    a(href='list.html',title='') 长筒靴
                li
                    a(href='list.html',title='') 高跟鞋
                li
                    a(href='list.html',title='') 平底鞋
                li
                    a(href='list.html',title='') 松糕鞋
                li
                    a(href='list.html',title='') 长筒靴
                li
                    a(href='list.html',title='') 高跟鞋
                li
                    a(href='list.html',title='') 平底鞋
                li
                    a(href='list.html',title='') 松糕鞋
                li
                    a(href='list.html',title='') 长筒靴
block jsblock
    script.
        $(".order_list li:last").css("border-right","none");