extends layout
block styleblock
    link(rel='stylesheet',href='css/phone_edit.css')
block content
    #afui
        header#header
            a(href='#',class='back',title='')
            h1 绑定手机号
        #content
            form(id='signupForm',method='post',action='')
                .phone_wrap
                    label 旧手机号：
                    input.oldphone(id='telphone',name='telphone',class='required',maxlength='11',type='text')
                    p.oldphonenumber 旧手机号错误
                .phone_wrap
                    label 新手机号：
                    input(id='new_phone',name='new_phone',class='required',maxlength='11',type='text')
                .phone_wrap
                    label 验证码：
                    input(id='identifying_code',name='identifying_code',class='{required:true,equalTo:"#code"}',type='text')
                    input(type='hidden',id='code',value='1234')
                    input(id='btnSendCode',class='get_code fr',type='button',name='',value='获取验证码',onclick='sendMessage()')
                input.submit(type='submit',value='确认绑定')


        footer
            a(href='index.html',class='home',title='')
                .img
                    img(src='images/icon/home.png',alt='')
                p 首页
            a(href='list.html',class='fenlei',title='')
                .img
                    img(src='images/icon/fenlei.png',alt='')
                p 分类
            a(href='show.html',class='show',title='')
                .img
                    img(src='images/icon/show_img.png',alt='')
                p 买家秀
            a(href='cart.html',class='cart',title='')
                .img
                    img(src='images/icon/cart.png',alt='')
                    i: span 100
                p 购物车
            a(href='home.html',class='personal selected',title='')
                .img
                    img(src='images/icon/personal.png',alt='')
                    i: span 99
                p 个人中心

block jsblock
    script(src='js/reg.js')