<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>coolie demo</title>
    <!--coolie-->
    <link rel="stylesheet" href="../../static/css/common.css"/>
    <link rel="stylesheet" href="../../static/css/index.css"/>
    <!--/coolie-->
</head>
<body>
<div class="step"></div>
<div class="row"></div>
<img class="img" src="../../static/img/icon/block_top_bg4.png">
<script coolie src="../../static/js/coolie.min-1.1.1.js" data-config="coolie-config.js" data-main="index/index.js"></script>
</body>
</html>