/*-------color -----*/
primary_color = #428bca
main-color = #428bca
nav-color = #cdddeb
nav-hover-color = #fff
line-color = #f0f8ff
btn-color = #333

//字体颜色
char-whit = #fff
tips-red = red

grey = #ccc