/*------------- 表单 --------------*/

.form-row
  margin 5px 0
  .row-cont
    text-align left
  label
    height 32px
    line-height 32px
    text-align left
    padding 0 5px
    font-weight bold
  .row-tips
    width 150px
    text-align left
    color tips-red
    padding 3px 0
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    _transition(.4s)
  .input-text
    height 28px
    line-height 28px
    padding 0 5px
  .form-submit
    position relative
    min-height 40px
    margin 2px 10px
    text-align left
    color tips-red
    height 30px 
    line-height 30px
    .btn
      position absolute


