<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>高分家长文章页</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="keyword" content="">
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="../css/base.min.css">
    </head>
</html>
<body>
    <div class="wrap article-page">
        <div class="header">
            <div class="header-container clearfix"><a href="index.html" title="高分家长" class="logo"><img src="../img/logo.png" alt="高分家长"></a>
                <ul class="ml10">
                    <li><a href="index.html" title="首页" class="link-index"><i class="icon icon-index"></i><span>首页</span></a></li>
                    <li><a href="treasury.html" title="宝库" class="link-treasury"><i class="icon icon-treasury"></i><span>宝库</span><span>&or;</span></a></li>
                    <li><a href="special.html" title="专题" class="link-special"><i class="icon icon-special"></i><span>专题</span></a></li>
                    <li><a href="wenda.html" title="问答" class="link-wenda"><i class="icon icon-wenda"></i><span>问答</span></a></li>
                </ul>
                <form action="search.html" class="form">
                    <input type="text" placeholder="请输入要搜索的关键词"><a href="javascript: void(0);" class="btn-search"><i class="icon icon-search"></i>
                        <input type="submit" value=""></a>
                </form>
                <div class="reg-login fr"><a href="#" title="登录" class="btn-login">登录</a><a href="#" title="注册" class="btn-reg">注册</a></div>
            </div>
        </div>
        <div class="header-slide">
            <div class="top-slide">
                <div class="slide-wrap">
                    <div class="slide-container">
                        <ul id="topSlide" class="clearfix">
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-1.jpg"></div>
                                    <p>热门关注</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-2.jpg"></div>
                                    <p>必备知识</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-3.jpg"></div>
                                    <p>学了么</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-4.jpg"></div>
                                    <p>爸妈堂</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-5.jpg"></div>
                                    <p>大咖说</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-6.jpg"></div>
                                    <p>咋整</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-7.jpg"></div>
                                    <p>呵呵哒</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-8.jpg"></div>
                                    <p>么么哒</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-9.jpg"></div>
                                    <p>哦哦哦</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-10.jpg"></div>
                                    <p>嗯嗯呃</p></a></li>
                        </ul>
                    </div>
                    <div class="index-btn"><span class="active"></span></div>
                </div>
                <div class="slide-btn"><a href="javascript: void(0);" class="btn-left"><i class="icon arrow-left"></i></a><a href="javascript: void(0);" class="btn-right"><i class="icon arrow-right"></i></a></div>
            </div>
        </div>
        <div class="container pb30">
            <ul class="ui-crumbs clearfix">
                <li><a href="" title="">主页</a></li>
                <li>&gt;</li>
                <li><a href="" title="" class="font-blue-dark">栏目</a></li>
            </ul>
            <div class="row clearfix">
                <div class="span820 fl">
                    <div class="ui-article">
                        <div class="article-title">
                            <h2>家长应该如何对孩子防拐骗教育？</h2>
                            <div class="pt10 pb10"><span class="font-nm mr20"><i class="icon icon-person"></i><i>绿巨人</i></span><span class="font-nm"><i class="icon icon-time"></i><i>2016-12-18</i></span>
                                <div class="fr"><a href="javascript: void(0);" class="ui-label label-red"><i class="icon icon-fav"></i>收藏</a><a href="#comment" class="ui-label label-blue">评论<span>55</span></a><a href="javascript: void(0);" class="ui-label label-orange">点赞<span>266</span></a></div>
                            </div>
                        </div>
                        <div class="article-content tc mt20">
                            <p>寻梦？撑一支长篙，向青草更青处漫溯；满载一船星辉，在星辉斑斓里放歌。但我不能放歌，悄悄是别离的笙箫； 夏虫也为我沉默，沉默是今晚的康桥！</p>
                            <p>轻轻的我走了，正如我轻轻的来；我轻轻的招手，作别西天的云彩。 那河畔的金柳，是夕阳中的新娘；波光里的艳影，在我的心头荡漾。 软泥上的青荇，油油的在水底招摇；在康河的柔波里，我甘心做一条水草！ 那榆荫下的一潭，不是清泉，是天上虹；揉碎在浮藻间，沉淀着彩虹似的梦。 寻梦？撑一支长篙，向青草更青处漫溯；满载一船星辉，在星辉斑斓里放歌。 但我不能放歌，悄悄是别离的笙箫；夏虫也为我沉默，沉默是今晚的康桥！ 悄悄的我走了，正如我悄悄的来；我挥一挥衣袖，不带走一片云彩。</p><img src="../img/banner/banner-img-1.jpg">
                        </div>
                        <div class="article-bottom"><a href="" title="" class="article-label">育儿那点事</a><a href="" title="" class="article-label">教育方法</a><a href="" title="" class="article-label">亲子关系</a>
                            <!-- 分享到朋友圈微信等-->
                            <div class="ui-share fr"></div>
                        </div>
                    </div>
                    <!-- 评论区--登录状态-->
                    <div id="comment" class="ui-comment">
                        <div class="comment-header"><span class="comment-header-title">文章评论<span class="font-md font-grey">(5)</span></span>
                        </div>
                        <div class="mt15 mb10">
                            <div class="avatar-container">
                                <div class="ui-avatar"><img src="../img/avatar.jpg"></div><i class="avatar-lev">Lv.48</i>
                            </div><span class="avatar-user ml5">Banana粑粑</span>
                        </div>
                        <div class="comment-form clearfix">
                            <form>
                                <textarea></textarea><a href="javascript: void(0);" class="btn btn-blue btn-sm fr mt10">评论</a>
                            </form>
                        </div>
                        <div class="comment-container">
                            <ul class="comment-list">
                                <li class="comment-item">
                                    <div class="avatar-container fl">
                                        <div class="ui-avatar"><img src="../img/avatar.jpg"></div><i class="avatar-lev">Lv.26</i>
                                    </div>
                                    <div class="comment-item-content">
                                        <div class="item-header"><span class="avatar-user mr10">Banana粑粑</span><span>2016-12-27</span></div>
                                        <div class="item-content">
                                            <p>轻轻的我走了，正如我轻轻的来；我轻轻的招手，作别西天的云彩。 那河畔的金柳，是夕阳中的新娘；波光里的艳影，在我的心头荡漾。 软泥上的青荇，油油的在水底招摇；在康河的柔波里，我甘心做一条水草！ 那榆荫下的一潭，不是清泉，是天上虹；揉碎在浮藻间，沉淀着彩虹似的梦。 寻梦？撑一支长篙，向青草更青处漫溯；满载一船星辉，在星辉斑斓里放歌。 但我不能放歌，悄悄是别离的笙箫；夏虫也为我沉默，沉默是今晚的康桥！ 悄悄的我走了，正如我悄悄的来；我挥一挥衣袖，不带走一片云彩。</p>
                                        </div>
                                        <div class="item-reply"><a href="javascript: void(0);" title="" class="btn-zan"><i class="icon icon-zan"></i><span>0</span></a><a href="javascript: void(0);" title="" class="btn-comment"><i class="icon icon-msg-grey"></i><span>0</span></a></div>
                                        <ul class="comment-list">
                                            <li class="comment-item">
                                                <div class="avatar-container fl">
                                                    <div class="ui-avatar"><img src="../img/avatar.jpg"></div><i class="avatar-lev">Lv.26</i>
                                                </div>
                                                <div class="comment-item-content">
                                                    <div class="item-header"><span class="avatar-user mr10">Banana粑粑</span><span>2016-12-27</span></div>
                                                    <div class="item-content">
                                                        <p>哎哟，不错哦！</p>
                                                    </div>
                                                    <div class="item-reply"><a href="javascript: void(0);" title="" class="btn-zan"><i class="icon icon-zan"></i><span>0</span></a><a href="javascript: void(0);" title="" class="btn-comment"><i class="icon icon-msg-grey"></i><span>0</span></a></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="comment-item">
                                    <div class="avatar-container fl">
                                        <div class="ui-avatar"><img src="../img/avatar.jpg"></div><i class="avatar-lev">Lv.26</i>
                                    </div>
                                    <div class="comment-item-content">
                                        <div class="item-header"><span class="avatar-user mr10">Banana粑粑</span><span>2016-12-27</span></div>
                                        <div class="item-content">
                                            <p>寻梦？撑一支长篙，向青草更青处漫溯；满载一船星辉，在星辉斑斓里放歌。但我不能放歌，悄悄是别离的笙箫； 夏虫也为我沉默，沉默是今晚的康桥！</p>
                                        </div>
                                        <div class="item-reply"><a href="javascript: void(0);" title="" class="btn-zan"><i class="icon icon-zan"></i><span>0</span></a><a href="javascript: void(0);" title="" class="btn-comment"><i class="icon icon-msg-grey"></i><span>0</span></a></div>
                                    </div>
                                </li>
                                <li class="comment-item">
                                    <div class="avatar-container fl">
                                        <div class="ui-avatar"><img src="../img/avatar.jpg"></div><i class="avatar-lev">Lv.26</i>
                                    </div>
                                    <div class="comment-item-content">
                                        <div class="item-header"><span class="avatar-user mr10">Banana粑粑</span><span>2016-12-27</span></div>
                                        <div class="item-content">
                                            <p>悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</p>
                                        </div>
                                        <div class="item-reply"><a href="javascript: void(0);" title="" class="btn-zan"><i class="icon icon-zan"></i><span>0</span></a><a href="javascript: void(0);" title="" class="btn-comment"><i class="icon icon-msg-grey"></i><span>0</span></a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 评论区--未登录状态-->
                    <div id="comment" class="ui-comment">
                        <div class="comment-header"><span class="comment-header-title">文章评论</span></div>
                        <div class="mt15 mb10">
                            <div class="avatar-container">
                                <div class="ui-avatar"><img src="../img/avatar.jpg" alt="默认未登录头像"></div>
                            </div><a href="" title="" class="avatar-user font-red ml5">登录</a><span class="ml5 font-nm">后参与讨论</span>
                        </div>
                        <div class="comment-form clearfix">
                            <form>
                                <textarea placeholder="参与讨论前请先登录" disabled="disabled" class="disabled"></textarea>
                            </form>
                        </div>
                        <!-- 没有评论时-->
                        <div class="comment-none mt50 mb30"><span class="font-blue-dark">暂无评论</span></div>
                    </div>
                </div>
                <div class="span260 fr">
                    <div class="right-thumbnail article-thumbnail">
                        <div class="img-wrap"><img src="../img/title-p-a.png" alt=""></div>
                        <ul class="thumbnail-list">
                            <li class="thumbnail-item"><a href="article.html" title="" target="_blank" class="clearfix">
                                    <div class="thumbnail-item-img fl"><img src="../img/avatar.jpg"></div>
                                    <div class="thumbnail-item-title">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</div></a></li>
                            <li class="thumbnail-item"><a href="article.html" title="" target="_blank" class="clearfix">
                                    <div class="thumbnail-item-img fl"><img src="../img/avatar.jpg"></div>
                                    <div class="thumbnail-item-title">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</div></a></li>
                            <li class="thumbnail-item"><a href="article.html" title="" target="_blank" class="clearfix">
                                    <div class="thumbnail-item-img fl"><img src="../img/avatar.jpg"></div>
                                    <div class="thumbnail-item-title">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</div></a></li>
                            <li class="thumbnail-item"><a href="article.html" title="" target="_blank" class="clearfix">
                                    <div class="thumbnail-item-img fl"><img src="../img/avatar.jpg"></div>
                                    <div class="thumbnail-item-title">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</div></a></li>
                        </ul>
                    </div>
                    <div class="right-thumbnail question-thumbnail">
                        <div class="img-wrap"><img src="../img/title-p-q.png" alt=""></div>
                        <ul class="thumbnail-list">
                            <li class="thumbnail-item"><a href="article.html" title="" target="_blank">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</a></li>
                            <li class="thumbnail-item"><a href="article.html" title="" target="_blank">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</a></li>
                            <li class="thumbnail-item"><a href="article.html" title="" target="_blank">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</a></li>
                            <li class="thumbnail-item"><a href="article.html" title="" target="_blank">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</a></li>
                            <li class="thumbnail-item"><a href="article.html" title="" target="_blank">如何提高孩子读书的专注度</a></li>
                            <li class="thumbnail-item"><a href="article.html" title="" target="_blank">如何提高孩子读书的专注度</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <div class="foot-links"><a href="#" target="_blank">小学</a><i>|</i><a href="#" target="_blank">初中</a><i>|</i><a href="#" target="_blank">高中</a><i>|</i><a href="#" target="_blank">活动</a><i>|</i><a href="#" target="_blank">课程</a><i>|</i><a href="#" target="_blank">资料</a><i>|</i><a href="#" target="_blank">试卷</a><i>|</i><a href="#" target="_blank">论坛</a><i>|</i><a href="#" target="_blank">图库</a><i>|</i><a href="#" target="_blank">高校库</a><i>|</i><a href="#" target="_blank">百宝箱</a>
                </div>
                <div class="foot-links"><a href="#" target="_blank">高分介绍</a><i>|</i><a href="#" target="_blank">机构服务</a><i>|</i><a href="#" target="_blank">招贤纳士</a><i>|</i><a href="#" target="_blank">联系我们</a><i>|</i><a href="#" target="_blank">网站地图</a><i>|</i><a href="#" target="_blank">友情链接</a><i>|</i><a href="#" target="_blank">隐私保护</a><i>|</i><a href="#" target="_blank">法律声明</a>
                </div>
                <div class="copyright">&copy; 2010-2013 高分家长<a href="http://www.miibeian.gov.cn/" title="粤ICP备13042184号-1">粤ICP备13042184号-1</a>
                </div>
                <div class="alarm"><a href="http://210.76.65.188/newwebsite/index.htm" title="广州网络警察报警平台" target="_blank"><img src="../img/police.png" alt="广州网络警察报警平台"></a><a href="http://210.76.65.188/netalarm/index.jsp" title="不良信息举报中心" target="_blank"><img src="../img/report.png" alt="不良信息举报中心"></a></div>
                <div class="beian"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010402000565" target="_blank"><img src="../img/beian.png" alt="备案">
                        <p>公网安备 44010402000565号</p></a></div>
            </div>
        </div>
    </div>
    <script src="../js/jquery.1.8.2.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/swipePC.js"></script>
    <script>
        $('.btn-comment').on('click', function () {
            var commentDOM = '<div class="add-comment-form clearfix mt5"><form><textarea class="add-comment-area"></textarea><a href="javascript: void(0);" class="btn btn-blue btn-sm fr">回复</a></form></div>';
        
            $('.add-comment-form').slideUp().remove();
            $(this).parent().after(commentDOM);
            $('.add-comment-area').focus();
        });
        function getTime(){
            var date = new Date();
            var y = date.getFullYear(),
                m = date.getMonth() + 1,
                d = date.getDay();
            m = m < 10 ? '0' + m : m;
            d = d < 10 ? '0' + d : d;
            return y + '-' + m + '-' + d;
        }
    </script>
</body>