<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>高分家长专题页</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="keyword" content="">
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="../css/base.min.css">
    </head>
</html>
<body>
    <div class="wrap special-page">
        <div class="header">
            <div class="header-container clearfix"><a href="index.html" title="高分家长" class="logo"><img src="../img/logo.png" alt="高分家长"></a>
                <ul class="ml10">
                    <li><a href="index.html" title="首页" class="link-index"><i class="icon icon-index"></i><span>首页</span></a></li>
                    <li><a href="treasury.html" title="宝库" class="link-treasury"><i class="icon icon-treasury"></i><span>宝库</span><span>&or;</span></a></li>
                    <li><a href="special.html" title="专题" class="link-special"><i class="icon icon-special"></i><span>专题</span></a></li>
                    <li><a href="wenda.html" title="问答" class="link-wenda"><i class="icon icon-wenda"></i><span>问答</span></a></li>
                </ul>
                <form action="search.html" class="form">
                    <input type="text" placeholder="请输入要搜索的关键词"><a href="javascript: void(0);" class="btn-search"><i class="icon icon-search"></i>
                        <input type="submit" value=""></a>
                </form>
                <div class="reg-login fr"><a href="#" title="登录" class="btn-login">登录</a><a href="#" title="注册" class="btn-reg">注册</a></div>
            </div>
        </div>
        <div class="header-slide">
            <div class="top-slide">
                <div class="slide-wrap">
                    <div class="slide-container">
                        <ul id="topSlide" class="clearfix">
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-1.jpg"></div>
                                    <p>热门关注</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-2.jpg"></div>
                                    <p>必备知识</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-3.jpg"></div>
                                    <p>学了么</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-4.jpg"></div>
                                    <p>爸妈堂</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-5.jpg"></div>
                                    <p>大咖说</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-6.jpg"></div>
                                    <p>咋整</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-7.jpg"></div>
                                    <p>呵呵哒</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-8.jpg"></div>
                                    <p>么么哒</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-9.jpg"></div>
                                    <p>哦哦哦</p></a></li>
                            <li><a href="" title="">
                                    <div class="img-wrap"><img src="../img/top-slide-img/slide-img-10.jpg"></div>
                                    <p>嗯嗯呃</p></a></li>
                        </ul>
                    </div>
                    <div class="index-btn"><span class="active"></span></div>
                </div>
                <div class="slide-btn"><a href="javascript: void(0);" class="btn-left"><i class="icon arrow-left"></i></a><a href="javascript: void(0);" class="btn-right"><i class="icon arrow-right"></i></a></div>
            </div>
        </div>
        <div class="container pb30">
            <div class="special-tab clearfix mt40"><img src="../img/title-special.png" alt="" class="mr20"><span class="font-lg font-grey">发掘更多专题在这里</span>
                <div class="special-sort fr"><a href="#" title="" class="active"><i class="icon icon-sort"></i><span>最新</span></a><a href="#" title=""><i class="icon icon-sort"></i><span>热门</span></a></div>
            </div>
            <div class="treasury-group clearfix">
                <div class="ui-thumbnail ui-thumbnail-special"><a href="special-item.html" title="" target="_blank" class="img-wrap"><img src="../img/block-img/block-img-1.jpg" alt=""/></a>
                    <div class="ui-thumbnail-content special-thumbnail-content"><a href="special-item.html" title="" target="_blank" class="thumbnail-title">浮华日报</a>
                        <div class="thumbnail-tips mt5">共11篇内容，128收藏</div>
                    </div>
                </div>
                <div class="ui-thumbnail ui-thumbnail-special"><a href="special-item.html" title="" target="_blank" class="img-wrap"><img src="../img/block-img/block-img-2.jpg" alt=""/></a>
                    <div class="ui-thumbnail-content special-thumbnail-content"><a href="special-item.html" title="" target="_blank" class="thumbnail-title">浮华日报</a>
                        <div class="thumbnail-tips mt5">共11篇内容，128收藏</div>
                    </div>
                </div>
                <div class="ui-thumbnail ui-thumbnail-special"><a href="special-item.html" title="" target="_blank" class="img-wrap"><img src="../img/block-img/block-img-3.jpg" alt=""/></a>
                    <div class="ui-thumbnail-content special-thumbnail-content"><a href="special-item.html" title="" target="_blank" class="thumbnail-title">浮华日报</a>
                        <div class="thumbnail-tips mt5">共11篇内容，128收藏</div>
                    </div>
                </div>
                <div class="ui-thumbnail ui-thumbnail-special"><a href="special-item.html" title="" target="_blank" class="img-wrap"><img src="../img/block-img/block-img-4.jpg" alt=""/></a>
                    <div class="ui-thumbnail-content special-thumbnail-content"><a href="special-item.html" title="" target="_blank" class="thumbnail-title">浮华日报</a>
                        <div class="thumbnail-tips mt5">共11篇内容，128收藏</div>
                    </div>
                </div>
                <div class="ui-thumbnail ui-thumbnail-special"><a href="special-item.html" title="" target="_blank" class="img-wrap"><img src="../img/block-img/block-img-1.jpg" alt=""/></a>
                    <div class="ui-thumbnail-content special-thumbnail-content"><a href="special-item.html" title="" target="_blank" class="thumbnail-title">浮华日报</a>
                        <div class="thumbnail-tips mt5">共11篇内容，128收藏</div>
                    </div>
                </div>
                <div class="ui-thumbnail ui-thumbnail-special"><a href="special-item.html" title="" target="_blank" class="img-wrap"><img src="../img/block-img/block-img-2.jpg" alt=""/></a>
                    <div class="ui-thumbnail-content special-thumbnail-content"><a href="special-item.html" title="" target="_blank" class="thumbnail-title">浮华日报</a>
                        <div class="thumbnail-tips mt5">共11篇内容，128收藏</div>
                    </div>
                </div>
                <div class="ui-thumbnail ui-thumbnail-special"><a href="special-item.html" title="" target="_blank" class="img-wrap"><img src="../img/block-img/block-img-3.jpg" alt=""/></a>
                    <div class="ui-thumbnail-content special-thumbnail-content"><a href="special-item.html" title="" target="_blank" class="thumbnail-title">浮华日报</a>
                        <div class="thumbnail-tips mt5">共11篇内容，128收藏</div>
                    </div>
                </div>
                <div class="ui-thumbnail ui-thumbnail-special"><a href="special-item.html" title="" target="_blank" class="img-wrap"><img src="../img/block-img/block-img-4.jpg" alt=""/></a>
                    <div class="ui-thumbnail-content special-thumbnail-content"><a href="special-item.html" title="" target="_blank" class="thumbnail-title">浮华日报</a>
                        <div class="thumbnail-tips mt5">共11篇内容，128收藏</div>
                    </div>
                </div>
            </div>
            <div class="tc"><a href="javascript:;" title="查看更多" class="btn btn-blue mt20">查看更多</a></div>
        </div>
        <div id="footer">
            <div class="container">
                <div class="foot-links"><a href="#" target="_blank">小学</a><i>|</i><a href="#" target="_blank">初中</a><i>|</i><a href="#" target="_blank">高中</a><i>|</i><a href="#" target="_blank">活动</a><i>|</i><a href="#" target="_blank">课程</a><i>|</i><a href="#" target="_blank">资料</a><i>|</i><a href="#" target="_blank">试卷</a><i>|</i><a href="#" target="_blank">论坛</a><i>|</i><a href="#" target="_blank">图库</a><i>|</i><a href="#" target="_blank">高校库</a><i>|</i><a href="#" target="_blank">百宝箱</a>
                </div>
                <div class="foot-links"><a href="#" target="_blank">高分介绍</a><i>|</i><a href="#" target="_blank">机构服务</a><i>|</i><a href="#" target="_blank">招贤纳士</a><i>|</i><a href="#" target="_blank">联系我们</a><i>|</i><a href="#" target="_blank">网站地图</a><i>|</i><a href="#" target="_blank">友情链接</a><i>|</i><a href="#" target="_blank">隐私保护</a><i>|</i><a href="#" target="_blank">法律声明</a>
                </div>
                <div class="copyright">&copy; 2010-2013 高分家长<a href="http://www.miibeian.gov.cn/" title="粤ICP备13042184号-1">粤ICP备13042184号-1</a>
                </div>
                <div class="alarm"><a href="http://210.76.65.188/newwebsite/index.htm" title="广州网络警察报警平台" target="_blank"><img src="../img/police.png" alt="广州网络警察报警平台"></a><a href="http://210.76.65.188/netalarm/index.jsp" title="不良信息举报中心" target="_blank"><img src="../img/report.png" alt="不良信息举报中心"></a></div>
                <div class="beian"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010402000565" target="_blank"><img src="../img/beian.png" alt="备案">
                        <p>公网安备 44010402000565号</p></a></div>
            </div>
        </div>
    </div>
    <script src="../js/jquery.1.8.2.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/swipePC.js"></script>
    <script>
        var article_data = [
            {
                article_url: "article.html",
                article_img: "../img/block-img/block-img-1.jpg",
                article_title: "悄悄的我走了，正如我悄悄的来，我挥挥衣袖",
                article_zan: "11",
                article_comments: "7",
                article_time: "2016-12-27"
            },
            {
                article_url: "article.html",
                article_img: "../img/block-img/block-img-2.jpg",
                article_title: "悄悄的我走了衣袖",
                article_zan: "2",
                article_comments: "4",
                article_time: "2016-12-26"
            },
            {
                article_url: "article.html",
                article_img: "../img/block-img/block-img-3.jpg",
                article_title: "悄悄的我走了衣袖悄悄的我走了衣袖悄悄的我走了衣袖",
                article_zan: "8",
                article_comments: "6",
                article_time: "2016-12-25"
            },
            {
                article_url: "article.html",
                article_img: "../img/block-img/block-img-4.jpg",
                article_title: "悄悄的我悄悄的我走了衣袖",
                article_zan: "5",
                article_comments: "16",
                article_time: "2016-12-24"
            },
            {
                article_url: "article.html",
                article_img: "../img/block-img/block-img-1.jpg",
                article_title: "悄悄的我走了，正如我悄悄的来，我挥挥衣袖",
                article_zan: "11",
                article_comments: "7",
                article_time: "2016-12-27"
            },
            {
                article_url: "article.html",
                article_img: "../img/block-img/block-img-2.jpg",
                article_title: "悄悄的我走了衣袖",
                article_zan: "2",
                article_comments: "4",
                article_time: "2016-12-26"
            },
            {
                article_url: "article.html",
                article_img: "../img/block-img/block-img-3.jpg",
                article_title: "悄悄的我走了衣袖悄悄的我走了衣袖悄悄的我走了衣袖",
                article_zan: "8",
                article_comments: "6",
                article_time: "2016-12-25"
            },
            {
                article_url: "article.html",
                article_img: "../img/block-img/block-img-4.jpg",
                article_title: "悄悄的我悄悄的我走了衣袖悄悄的我悄悄的我走了衣袖悄悄的我悄悄的我走了衣袖悄悄的我悄悄的我走了衣袖",
                article_zan: "5",
                article_comments: "16",
                article_time: "2016-12-24"
            }
        ];
        
        var jz_template = {
            'article_tmp' : function (article_url,article_img,article_title,article_zan,article_comments,article_time) {
                return '<div class="ui-thumbnail"><a href="' + article_url +
                        '" title="" target="_blank" class="img-wrap"><img src="' + article_img +
                        '" alt=""></a><div class="ui-thumbnail-content"><a href="' + article_url +
                        '" title="" target="_blank" class="thumbnail-title">' + article_title +
                        '</a><div class="thumbnail-tips mt10"><span><i class="icon icon-fav-grey"></i>' + article_zan +
                        '</span><span><i class="icon icon-msg-grey"></i>' + article_comments +
                        '</span><span class="fr">' + article_time +
                        '</span></div></div></div>'
            },
            'special_tmp': function (article_url,article_img,article_title,article_zan,article_comments) {
                return '<div class="ui-thumbnail ui-thumbnail-special"><a href="'+ article_url +
                        '" title="" target="_blank" class="img-wrap"><img src="'+ article_img +
                        '" alt=""></a><div class="ui-thumbnail-content special-thumbnail-content"><a href="'+
                        article_url +
                        '" title="" target="_blank" class="thumbnail-title">' + article_title +
                        '</a><div class="thumbnail-tips mt5">共'+ article_zan + '篇内容，'+ article_comments +
                        '收藏</div></div></div>'
            }
        }
        $('.btn-blue').on('click', function () {
            for (var i = 0; i < article_data.length; i++){
                var article_url = article_data[i].article_url,
                    article_img = article_data[i].article_img,
                    article_title = article_data[i].article_title,
                    article_zan = article_data[i].article_zan,
                    article_comments = article_data[i].article_comments;
                var tmp = jz_template.special_tmp(article_url,article_img,article_title,article_zan,article_comments);
                $('.treasury-group').append(tmp)
            }
        })
    </script>
</body>