body{
    background: #fff;
    overflow: hidden;
}
.wrapper{
    padding: 30px 20px;
    border: none;
    box-shadow: none;
}
.container{
    width:450px;
    background: #fff;
}
#main{
    min-height: 100px;
}
.login-modal-pannel{
    width: 100%;
}
.form {
    width: 100%;
}

.form.div {
    padding: 0 20px
}

.form-group {
    padding: 10px 20px
}

.form-group label {
    padding-right: 10px;
    width: 30px;
    display: inline-block
}

.form-group .tips {
    display: inline-block;
    min-width: 350px;
    margin-left: 15px;
    color: #FF6500
}

.button-group {
    margin-left: 43px
}

.loginbtn {
    width: 100px
}

.register-form {
    width: 100%
}

.form-tip {
    padding-left: 80px;
    color: #dd5981;
    visibility: hidden
}

.pwd-tip {
    padding-left: 62px
}

.form-tip em {
    padding: 0 35px;
    background: #dd5981;
    margin: 0 2px;
    color: #ffffff
}

.form-tip em.active {
    background: #df3831
}

.registerbtn {
    width: 120px
}

.rule .rule-link {
    color: #FF6500
}

.result-tip {
    width: 260px;
    margin-left: 43px
}
::-webkit-scrollbar {
    width: 0;
}
