.index_body {
  width: 100%;
}
.index_body .ck-slide {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.current{
  display: block;
}
.normal{
  display: none;
}
.index_body .ck-slide .ck-slide-wrapper {
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 1;
}
.index_body .ck-slide .ck-slide-wrapper li {
  width: 100%;
  height: 500px;
  position: absolute;
  display: block;
}
.index_body .ck-slide .ck-slide-wrapper li a {
  display: block;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.index_body .ck-slide .ck-slide-wrapper .hide {
  display: none;
}
.index_body .ck-slide .arrow {
  width: 95%;
  margin: 0 auto;
  height: 70px;
  position: relative;
  top: 50%;
}
.index_body .ck-slide .arrow a {
  position: absolute;
  z-index: 2;
  width: 70px;
  height: 70px;
  margin-top: -40px;
  text-indent: -9999px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.index_body .ck-slide .arrow .ck-prev {
  background: url("../images/ck-prev.png") no-repeat;
}
.index_body .ck-slide .arrow .ck-next {
  right: 0;
  background: url("../images/ck-next.png") no-repeat;
}
.index_body .index_main {
  width: 1296px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 0 2px;
}
.index_body .index_main .classify_block {
  position: relative;
  top: -32px;
}
.index_body .index_main .classify_block .classify {
  width: 300px;
  height: 410px;
  float: left;
  background-color: #ffffff;
  margin: 0 12px;
}
.index_body .index_main .classify_block .classify .classify_title {
  width: 300px;
  height: 30px;
  font-size: 28px;
  color: #595959;
  padding: 30px 0;
  text-align: center;
}
.index_body .index_main .classify_block .classify .classify_img {
  width: 190px;
  height: 190px;
}
.index_body .index_main .classify_block .classify .classify_count .count_title {
  padding-top: 15px;
  font-size: 18px;
  color: #F2262C;
  text-align: center;
  line-height: 30px;
}
.index_body .index_main .classify_block .classify .classify_count .count_num {
  text-align: center;
  line-height: 30px;
  color: #595959;
}
.index_body .index_main .classify_block .classify .classify_turn {
  width: 17px;
  height: 12px;
  margin-top: 10px;
  background: url("../images/turn_bg.png") no-repeat scroll center center;
}
.index_body .index_main .classify_block .classify .classify_turn a {
  display: block;
  width: 100%;
  height: 12px;
  text-indent: 900px;
  overflow: hidden;
}
.index_body .index_main .goods_block {
  width: 1244px;
  height: auto;
  margin: 0 13px 32px 13px;
  padding: 13px;
  background-color: #ffffff;
}
.index_body .index_main .goods_block .goods_block_title {
  margin: 5px 10px -5px 10px;
  font-size: 18px;
  color: #1F1F1F;
  font-weight: bold;
}
.index_body .index_main .goods_block .goods_block_title i {
  color: #F2262C;
  font-weight: bold;
}
.index_body .index_main .goods_block .goods_little_block:hover {
  box-shadow: 2px 2px 8px 8px #e1e1e1;
  border: 1px solid #f2295d;
}
.index_body .index_main .goods_little_block {
  width: 290px;
  height: auto;
  margin: 17px 9px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  float: left;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: relative;
  transition: border 1s;
  -moz-transition: border 1s;
  /* Firefox 4 */
  -webkit-transition: border 1s;
  /* Safari and Chrome */
  -o-transition: border 1s;
  /* Opera */
  transition: box-shadow 2s;
  -moz-transition: box-shadow 2s;
  -webkit-transition: box-shadow 2s;
  -o-transition: box-shadow 2s;
}
.index_body .index_main .goods_little_block .goods_little_block_img {
  width: 190px;
  margin: 20px auto;
  position: relative;
}
.index_body .index_main .goods_little_block .goods_little_block_p {
  position: relative;
  height: 30px;
  width: 250px;
  margin: 0px auto;
  border-top: 1px solid #EDEDED;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #676767;
  font-weight: bold;
}
.index_body .index_main .goods_little_block .goods_little_block_bar {
  margin-top: 20px;
  width: 100%;
  position: relative;
  height: 30px;
  margin-left: 20px;
}
.index_body .index_main .goods_little_block .goods_little_block_bar .bar {
  position: absolute;
  z-index: 8;
  width: 200px;
  height: 2px;
  background-color: #EDEDED;
  left: 25px;
}
.index_body .index_main .goods_little_block .goods_little_block_bar .pro_bar {
  position: absolute;
  z-index: 9;
  top: -4px;
  left: 25px;
}
.index_body .index_main .goods_little_block .goods_little_block_bar .pro_bar #prog {
  width: 68px;
  height: 2px;
  margin: 4px 0;
  background: #f2295d;
  float: left;
}
.index_body .index_main .goods_little_block .goods_little_block_bar .pro_bar #like {
  width: 14px;
  height: 10px;
  margin-left: -4px;
  float: left;
  background: url("../images/like_bg.png") no-repeat scroll right center;
}
.index_body .index_main .goods_little_block .goods_in_btn {
  width: 180px;
  height: 38px;
  color: #ffffff;
  line-height: 38px;
  text-align: center;
  background-color: #f2295d;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  margin: 0 auto;
  position: relative;
  bottom: 12px;
}
.index_body .index_main .goods_little_block .goods_in_btn .nbsp {
  color: #878787;
  font-size: 18px;
  line-height: 18px;
}
.index_body .index_main .goods_little_block .goods_in_btn a {
  color: #ffffff;
}
.index_body .index_main .goods_block_hot {
  width: 1244px;
  height: auto;
  margin: 0 13px 32px 13px;
  padding: 13px;
  position: relative;
  background-color: #ffffff;
}
.index_body .index_main .goods_block_hot .goods_block_title {
  width: 1244px;
  height: 20px;
  margin: 5px 10px -10px 10px;
  font-size: 18px;
  color: #1F1F1F;
  font-weight: bold;
  position: relative;
}
.index_body .index_main .goods_block_hot .goods_block_title i {
  color: #F2262C;
  font-weight: bold;
}
.index_body .index_main .goods_block_hot .goods_waterfall {
  position: relative;
  margin-top: -5px;
}
.index_body .index_main .goods_block_hot .goods_little_block:hover {
  box-shadow: 8px 1px 6px 2px #e1e1e1;
}
