#reg_body {
  width: 960px;
  margin: auto auto;
}
#reg_body .logo {
  width: 118px;
  height: 20px;
  margin: 100px 0 60px 0;
  background: url("../images/reg_logo_bg.png") no-repeat 0 center;
}
#reg_body .reg_wrap {
  width: 958px;
  height: auto;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
#reg_body .reg_wrap .reg_title {
  width: 890px;
  height: 100px;
  margin: 0 auto;
  line-height: 100px;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #e6e6e6;
  color: #666666;
  font-weight: 500;
}
#reg_body .reg_wrap .reg_main {
  width: 332px;
  margin: 0 auto;
  padding: 56px 0 56px 0;
}
#reg_body .reg_wrap .reg_main form {
  width: 650px;
}
#reg_body .reg_wrap .reg_main form label {
  position: relative;
  color: #f2295d;
  left: 10px;
  background: url("../images/tip_bg.png") no-repeat 0 center;
}
#reg_body .reg_wrap .reg_main form input {
  width: 330px;
  height: 28px;
  color: #5b5b5b;
  padding: 6px;
  line-height: 28px;
  margin-bottom: 14px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: relative;
}
#reg_body .reg_wrap .reg_main form #password,
#reg_body .reg_wrap .reg_main form #confirm_password {
  background: url("../images/password_bg.png") no-repeat 306px center;
}
#reg_body .reg_wrap .reg_main form input:focus {
  border: 1px solid #f2295d;
}
#reg_body .reg_wrap .reg_main form .reg_btn {
  width: 128px;
  height: 40px;
  color: #ffffff;
  line-height: 14px;
  text-align: center;
  background-color: #f2295d;
  cursor: pointer;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  float: right;
  margin-left: 20px;
}
#reg_body .reg_wrap .reg_main form .test {
  height: 40px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#reg_body .reg_wrap .reg_main form .test .identifying_code {
  width: 170px;
}
#reg_body .reg_wrap .reg_main .submit {
  width: 320px;
  height: 44px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #f2295d;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#reg_body .reg_wrap .reg_main .reg_submit-btn {
  float: left;
  margin: 24px 0 20px 6px;
}
#reg_body .reg_wrap .reg_main .contract {
  padding-bottom: 10px;
}
#reg_body .reg_wrap .reg_main .contract p {
  padding-left: 2px;
  line-height: 14px;
  color: #9d9d9d;
}
#reg_body .reg_wrap .reg_main .contract a {
  color: #555555;
  line-height: 14px;
}
#reg_body .about-us {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 0 0;
  font-size: 14px;
  color: #6a6a6a;
}
#reg_body .about-us a {
  font-size: 14px;
  color: #6a6a6a;
}
#scrolltop {
  display: none;
}
