.shopping_cart_body {
  width: 1300px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  margin-bottom: 30px;
}
.shopping_cart_body .cart_goods {
  width: 1298px;
  margin-top: 10px;
}
.shopping_cart_body .cart_goods .cart_goods_title {
  width: 1298px;
  height: 43px;
  background-color: #444444;
  line-height: 43px;
  color: #ffffff;
}
.shopping_cart_body .cart_goods .cart_goods_title div {
  float: left;
}
.shopping_cart_body .cart_goods .f_checkbox_normal {
  cursor: pointer;
  display: block !important;
  padding: 2px 20px;
  line-height: 14px;
}
.shopping_cart_body .cart_goods .unchecked {
  background: url("../images/check_bg1.png") no-repeat 3px center;
}
.shopping_cart_body .cart_goods .checked {
  background: url("../images/check_bg2.png") no-repeat 3px center;
}
.shopping_cart_body .cart_goods label {
  height: 12px;
  float: left;
  margin: 15px 0 0 20px;
  position: relative;
}
.shopping_cart_body .cart_goods label input {
  left: -9999px;
  position: absolute;
}
.shopping_cart_body .cart_goods .td1 {
  width: 100px;
}
.shopping_cart_body .cart_goods .td2 {
  width: 200px;
}
.shopping_cart_body .cart_goods .td3 {
  width: 420px;
}
.shopping_cart_body .cart_goods .td4 {
  width: 140px;
  text-align: center;
}
.shopping_cart_body .cart_goods .td5 {
  width: 120px;
  text-align: center;
}
.shopping_cart_body .cart_goods .td5 input {
  width: 38px;
  text-align: center;
}
.shopping_cart_body .cart_goods .td6 {
  width: 160px;
  text-align: center;
}
.shopping_cart_body .cart_goods .td7 {
  width: 100px;
  text-align: center;
}
.shopping_cart_body .cart_goods .td8 {
  width: 140px;
  cursor: pointer;
  padding-top: 2px;
}
.shopping_cart_body .cart_goods .td9 {
  width: 720;
  text-align: right;
}
.shopping_cart_body .cart_goods .td9 span {
  font-size: 24px;
  padding: 0 10px;
}
.shopping_cart_body .cart_goods .td10 {
  width: 240px;
  text-align: center;
}
.shopping_cart_body .cart_goods .td10 span {
  font-size: 24px;
}
.shopping_cart_body .cart_goods .td11 {
  width: 170px;
  position: relative;
}
.shopping_cart_body .cart_goods .td11 .to_settle_btn {
  width: 140px;
  height: 70px;
  border-radius: 5px;
  position: absolute;
  top: -45px;
  background-color: #f2f2f2;
  border: 5px solid rgba(242, 242, 242, 0.5);
  cursor: pointer;
}
.shopping_cart_body .cart_goods .td11 .to_settle_btn a {
  width: 140px;
  height: 70px;
  color: #ffffff;
  background-color: #f2295d;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  line-height: 70px;
  display: inline-block;
}
.shopping_cart_body .cart_goods .cart_goods_body {
  width: 100%;
  border: 1px solid #444444;
  background-color: #ffffff;
}
.shopping_cart_body .cart_goods .cart_goods_body div {
  float: left;
}
.shopping_cart_body .cart_goods .cart_goods_body tr {
  border-top: 1px solid #444444;
  color: #2e2e2e;
  font-size: 14px;
}
.shopping_cart_body .cart_goods .cart_goods_body tr .goods_checkbox {
  width: 80px;
  height: 138px;
  line-height: 100%;
}
.shopping_cart_body .cart_goods .cart_goods_body tr .goods_checkbox .f_checkbox_normal {
  margin: 60px 30px;
}
.shopping_cart_body .cart_goods .cart_goods_body tr .goods_img img {
  width: 90px;
  height: 90px;
  margin: 24px auto;
}
.shopping_cart_body .cart_goods .cart_goods_body tr .good_title {
  color: #2e2e2e;
}
.shopping_cart_body .cart_goods .cart_goods_body tr .good_title a {
  font-size: 14px;
  color: #2e2e2e;
  line-height: 68px;
}
.shopping_cart_body .cart_goods .cart_goods_body tr .good_title p {
  font-size: 12px;
  line-height: 50px;
}
.shopping_cart_body .cart_goods .cart_goods_body tr .good_price {
  line-height: 138px;
}
.shopping_cart_body .cart_goods .cart_goods_body tr .good_count input {
  margin: 60px auto;
}
.shopping_cart_body .cart_goods .cart_goods_body tr .good_count #cut,
.shopping_cart_body .cart_goods .cart_goods_body tr .good_count #add {
  cursor: pointer;
}
.shopping_cart_body .cart_goods .cart_goods_body tr .good_total {
  line-height: 138px;
}
.shopping_cart_body .cart_goods .cart_goods_body tr .good_operation_btn {
  line-height: 138px;
  cursor: pointer;
}
.shopping_cart_body .cart_goods .to_settle {
  margin-top: 66px;
}
.shopping_cart_body .recommend_recently {
  width: 1298px;
  height: 280px;
  margin: 30px 0 10px 0;
}
.shopping_cart_body .recommend_recently .recommend_recently_lable {
  width: 180px;
  height: 28px;
  border: 1px solid #444444;
}
.shopping_cart_body .recommend_recently .recommend_recently_lable div {
  width: 90px;
  line-height: 28px;
  float: left;
  text-align: center;
  color: #ffffff;
  background-color: #444444;
  border-bottom: 1px solid #444444;
  cursor: pointer;
}
.shopping_cart_body .recommend_recently .recommend_recently_lable .active {
  color: #444444;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
  z-index: 2;
}
.shopping_cart_body .recommend_recently .recommend_recently_popup {
  width: 1298px;
  height: 250px;
  background-color: #ffffff;
  border: 1px solid #444444;
  margin-top: -1px;
}
.shopping_cart_body .recommend_recently .recommend_recently_popup .ck-slide {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.shopping_cart_body .recommend_recently .recommend_recently_popup .ck-slide .similar_show {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
.shopping_cart_body .recommend_recently .recommend_recently_popup .ck-slide .similar_show .similar_show_good .good {
  width: 170px;
  height: 200px;
  float: left;
  padding: 25px 15px;
}
.shopping_cart_body .recommend_recently .recommend_recently_popup .ck-slide .similar_show .similar_show_good .good .good_img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.shopping_cart_body .recommend_recently .recommend_recently_popup .ck-slide .similar_show .similar_show_good .good p {
  width: 100%;
  text-align: center;
  margin: 20px 0 15px 0;
}
.shopping_cart_body .recommend_recently .recommend_recently_popup .ck-slide .similar_show .similar_show_good .good p a {
  color: #333333;
}
.shopping_cart_body .recommend_recently .recommend_recently_popup .ck-slide .similar_show .similar_show_good .good .good_price {
  width: 100%;
  text-align: center;
  color: #444444;
}
.shopping_cart_body .recommend_recently .recommend_recently_popup .ck-slide .similar_show .similar_arrow {
  width: 1300px;
}
.shopping_cart_body .recommend_recently .recommend_recently_popup .ck-slide .similar_show .similar_arrow a {
  position: absolute;
  top: 55%;
  z-index: 2;
  width: 18px;
  height: 30px;
  margin-top: -35px;
  text-indent: -9999px;
}
.shopping_cart_body .recommend_recently .recommend_recently_popup .ck-slide .similar_show .similar_arrow .similar_prev {
  left: 15px;
  background: url("../images/similar_arrow_prev_detail.png") no-repeat;
}
.shopping_cart_body .recommend_recently .recommend_recently_popup .ck-slide .similar_show .similar_arrow .similar_next {
  right: 15px;
  background: url("../images/similar_arrow_next_detail.png") no-repeat;
}
.custom_service {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 10px;
  bottom: 200px;
  cursor: pointer;
  z-index: 9;
  background: url("../images/right_tip_bg.png") no-repeat;
}
