.main_visual
    .flicking_con
        a(href='#') 1
        a(href='#') 2
        a(href='#') 3
        a(href='#') 4
        a(href='#') 5
    .main_image
        ul
            li: img(src='images/examples/0.png')
            li: img(src='images/examples/02.jpg')
            li: img(src='images/examples/1.png')
            li: img(src='images/examples/detail_big_img_s.jpg')
            li: img(src='images/examples/good_block_img.png')
        a#btn_prev(href='javascript:;')
        a#btn_next(href='javascript:;')