extends layout
block styleblock
    link(rel='stylesheet',href='css/detail.css')
block content
    .cutbox
block jsblock
    script(src='js/layer.m.js')
    script(src='js/touch-0.2.14.min.js')
    script(src='js/jquery.crop.js')
    script(src='js/cut_img.js')