extends layout

block styleblock
    link(rel='stylesheet',href='css/list.css')

block content
    #afui
        nav
            ul.filters_nav
                li
                    a.selected(href='list.html',title='') 鞋靴
                li
                    a(href='list.html',title='') 服装
                li
                    a(href='list.html',title='') 箱包
                li
                    a(href='list.html',title='') 手表
            ul.sort
                li
                    a.sort_down(href='list.html',title='') 热度 ↓
                li
                    a(href='list.html',title='') 销量
                li
                    a.sort_up(href='list.html',title='') 价格 ↑
                li
                    a.sort_up(href='list.html',title='') 上架时间↑
                li.filters_btn
                    a(href='filters.html',title='') 筛选

        #content
            ul.filters
                label 已选条件：
                li
                    span 红色
                    img(src='images/list_del.png',alt='')
                li
                    span 牛皮
                    img(src='images/list_del.png',alt='')
                li
                    span 皮鞋
                    img(src='images/list_del.png',alt='')

            #goods_waterfall
                .waterfall_class
                    .goods_block
                        .goods_img
                            a(href='detail.html',title='')
                                img(src='images/examples/good_block_img.png',alt='')
                            .bar.like
                                span 998
                        p 圆头拉链皮革拼接磨砂皮粗高跟低筒靴
                        p.goods_in_btn &yen;<span>599.00</span>
                    - for (var i=0;i<6;i++)
                        .goods_block
                            .goods_img
                                a(href='detail.html',title='')
                                    img(src='images/examples/0.png',alt='')
                                .bar
                                    span 9
                            p 圆头拉链皮革拼接磨砂皮粗高跟低筒靴
                            p.goods_in_btn &yen;<span>599.00</span>

                .waterfall_class
                    - for (var i=0;i<6;i++)
                        .goods_block
                            .goods_img
                                a(href='detail.html',title='')
                                    img(src='images/examples/1.png',alt='')
                                .bar
                                    span 9
                            p 圆头拉链皮革拼接磨砂皮粗高跟低筒靴
                            p.goods_in_btn &yen;<span>599.00</span>
                    .goods_block
                        .goods_img
                            a(href='detail.html',title='')
                                img(src='images/examples/good_block_img.png',alt='')
                            .bar
                                span 99
                        p 圆头拉链皮革拼接磨砂皮粗高跟低筒靴
                        p.goods_in_btn &yen;<span>599.00</span>
        .search
        #toTop
        footer
            a(href='index.html',class='home',title='')
                .img
                    img(src='images/icon/home.png',alt='')
                p 首页
            a(href='list.html',class='fenlei selected',title='')
                .img
                    img(src='images/icon/fenlei_select.png',alt='')
                p 发现
            a(href='cart.html',class='cart',title='')
                .img
                    img(src='images/icon/cart.png',alt='')
                    i: span 100
                p 购物车
            a(href='home.html',class='personal',title='')
                .img
                    img(src='images/icon/personal.png',alt='')
                p 个人中心

        .form_content
            #header
                a(href='#',class='back',title='')
                form.popup_search(action='/search/', method='get')
                    input#searchKeyword(placeholder='请输入商品关键字...',name='k')
                    input#searchBtn(type='submit',value='')
            ul
                li.h3 热门搜索：
                li
                    a(href='list.html',title='') 高跟鞋
                li
                    a(href='list.html',title='') 平底鞋
                li
                    a(href='list.html',title='') 松糕鞋
                li
                    a(href='list.html',title='') 长筒靴
                li
                    a(href='list.html',title='') 高跟鞋
                li
                    a(href='list.html',title='') 平底鞋
                li
                    a(href='list.html',title='') 松糕鞋
                li
                    a(href='list.html',title='') 长筒靴
                li
                    a(href='list.html',title='') 高跟鞋
                li
                    a(href='list.html',title='') 平底鞋
                li
                    a(href='list.html',title='') 松糕鞋
                li
                    a(href='list.html',title='') 长筒靴
                li
                    a(href='list.html',title='') 高跟鞋
                li
                    a(href='list.html',title='') 平底鞋
                li
                    a(href='list.html',title='') 松糕鞋
                li
                    a(href='list.html',title='') 长筒靴

block jsblock
    script(src='js/jquery.miniWaterfall.js')
    script(src='js/list.js')