html, body {
    font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
    color: #14191e;
}

body {
    overflow-y: scroll
}

body {
    background-color: #edeff0
}

ul {
    list-style: outside none none
}

a:link, a:visited {
    color: #14191e
}

a:hover, a:active {
    color: #cc0000
}

*:focus {
    outline: none
}

textarea {
    resize: none
}

textarea, input {
    border: 1px solid #CCC
}

input {
    height: 35px;
    line-height: 35px;
    width: 250px;
    padding-left: 10px
}

input:focus {
    border: 1px solid #7bd089
}

button {
    height: 35px;
    cursor: pointer;
    border: none;
    background: #58b9e6;
    color: #fff
}

button:hover {
    cursor: pointer;
    background: #3BAADD
}

.submit, button[type=submit] {
    background: #139D4B
}

.submit:hover, button[type=submit]:hover {
    background: #138C44
}

.danger {
    background: #df0007
}

.danger:hover {
    background: #bc0002
}

select {
    height: 35px;
    margin: 0 5px
}

.waper {
    width: 1200px;
    margin: 0 auto
}
.wapper{min-height:980px}
.ml2 {
    margin-left: 2px
}

.ml5 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml30 {
    margin-left: 30px
}

.ml50 {
    margin-left: 50px
}

.mt10 {
    margin-top: 20px
}

.mt20 {
    margin-top: 20px
}

.mr10 {
    margin-right: 10px
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *zoom: 1
}

.hide {
    display: none
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}

.container {
    background: #efefef;
    width: 1200px;
    margin: 0 auto
}
.other-left {
    position: relative;
    width: 160px;
    padding: 0 20px;
    overflow: visible;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
}
.other-left li {
    position: relative;
    width: 160px;
    height: 50px;
    overflow: visible;
    border-bottom: 1px solid #edf1f2;
}
.other-left li:last-child {
    border-bottom: 0 none;
}
.other-left li a {
    position: relative;
    display: block;
    padding: 0 10px 0 30px;
    margin-left: -20px;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    font-size: 14px;
    color: #787d82;
}
.other-left li a span.tip {
    height: 16px;
    border-radius: 10px;
    background-color: red;
    line-height: 16px;
    font-size: 12px;
    color: white;
    padding: 0 10px;
    position: absolute;
    right: 25px;
    top: 23px;
}
.other-left li:hover a span {
    color: #14191e;
}
.other-left li:hover a span.tip {
    color: white;
}
.other-left li.selected:before {
    content: " ";
    position: absolute;
    top: 0;
    width: 2px;
    height: 50px;
    background-color: #cc0000;
    left: -21px;
}
.other-left li.selected a span {
    color: #cc0000;
}
.other-left li.selected a span.tip {
    color: white;
}

.opus-nav {
    float: left;
    padding: 30px 30px 30px 30px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.opus-nav li {
    height: 24px;
    text-align: left;
    padding-right: 10px;
    padding-left: 15px;
}
.opus-nav li a {
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: #787d82;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.opus-nav li.first-cat {
    height: 26px;
    margin-top: 8px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
}
.opus-nav li.first-cat a {
    font-size: 14px;
    line-height: 26px;
    color: #14191e;
}
.opus-nav li a:hover {
    color: #f01400;
}
.opus-nav li.selected a {
    color: #f01400;
}
.opus-works {
    float: left;
    width: 1000px;
    overflow: visible;
    padding-bottom: 30px;
}

#main {
    min-height: 980px;
    padding: 20px 0;
}

.other-right{
    margin-left: 220px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
    overflow: hidden;
}

.wrapper {
    border: 1px solid #e6e8e9;
    border-top: none;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.25);
    background: #fff;
    padding: 20px
}

#header {
    background: #000000
}

.newcontainer, .page-container {
    margin: 0 auto;
    width: 1200px
}

#nav {
    height: 60px;
    margin: 0 auto;
    position: relative;
    z-index: 1000
}

.nav-item li {
    float: left;
    width: 150px
}

.nav-item a {
    display: block;
    color: #787d82;
    text-align: center;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s
}

.nav-item a:hover {
    color: #fff;
    background-color: #363c41
}

.logo {
    float: left
}

#logo a, .logo a {
    display: block;
    height: 60px;
    width: 140px;
    background: url(../img/footer-sprite.png) 0 -217px no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}

.logo a {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s
}

#login-area {
    float: right;
    position: relative
}

.logined > li {
    float: left
}

.logined li > a {
    display: block;
    height: 60px;
    line-height: 60px;
    width: 60px;
    color: #787d82;
    text-align: center;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s
}

.logined li > a:hover {
    color: #fff;
    background-color: #363c41
}

.set_btn {
    right: 0px;
    cursor: pointer
}

.set_btn img {
    border-radius: 22px;
    border: 2px solid #adb0b1;
    vertical-align: middle;
    display: inline-block
}

#nav_list {
    display: none;
    z-index: 999;
    width: 140px;
    position: absolute;
    top: 60px;
    right: 0px;
    background: #363c41;
    list-style: none
}

#nav_list a:hover {
    color: #fff;
    background-color: #4d5559
}

#nav_list #my_space {
    padding: 0 18px;
    background-image: none;
    border: 0;
    height: 49px;
    line-height: 49px;
    text-align: center
}

#nav_list li a {
    border-top: 1px solid #4a5153;
    height: 39px;
    line-height: 39px;
    font-size: 14px;
    background: url(../img/menu_icon.png) no-repeat;
    display: block;
    color: #fff;
    text-align: left;
    padding: 0;
    padding-left: 47px;
    width: auto
}

#nav_list #my_statistics {
    background-position: 19px -129px
}

#nav_list #my_setting {
    background-position: 19px -92px
}

#nav_list #my_logout {
    background-position: 19px -207px
}

#footer {
    background: #000000;
    border-top: 1px solid #e2e4e6;
    font-size: 12px;
    color: #787d82;
    padding: 40px 0;
    min-width: 1200px
}

#footer .footer_intro {
    border-right: 1px solid #363c41;
    width: 639px
}

#footer p {
    margin-left: 180px;
    line-height: 1.7
}

.footer_logo {
    float: left;
    background: url(../img/footer-sprite.png) 0 -225px no-repeat;
    height: 40px;
    width: 108px;
    margin: 0 38px
}

#footer .des {
    width: 445px
}

#footer .followus {
    padding-left: 30px
}

.followus a {
    float: left;
    position: relative;
    width: 32px;
    height: 32px;
    background: url(../img/footer-sprite.png) no-repeat;
    margin: 3px 6px 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s
}

#footer .followus a:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.flw-weixin-box {
    position: absolute;
    display: none;
    width: 170px;
    height: 220px;
    left: -69px;
    bottom: 35px;
    background: url(../img/footer-sprite.png) no-repeat 0 0
}

.followus .followus-weixin {
    background-position: 0 -279px
}

.followus-weixin:hover .flw-weixin-box {
    display: block
}

.followus .followus-weibo {
    background-position: 0 -321px
}

.followus .followus-qzone {
    background-position: 0 -363px
}

.friend-links {
    line-height: 60px
}

.friend-links a {
    display: inline-block;
    margin-right: 20px
}

.friend-links a:hover {
    text-decoration: underline;
    color: #000
}

.friend-links dl {
    padding: 0 10px
}

.friend-links dd {
    float: left;
    width: 160px
}

#footer .footer_intro, #footer .footer_link, #footer .followus {
    float: left;
    height: 40px
}

.footer_link ul {
    overflow: hidden;
    margin-top: -1px
}

.footer_link a:link, .footer_link a:visited, .footer_link a:active {
    color: #787d82
}

.footer_link a:hover {
    color: #fff
}

#footer .footer_link {
    padding: 0 30px;
    width: 320px;
    border-right: 1px solid #363c41;
    line-height: 1.8
}

#footer .footer_link li {
    width: 80px;
    text-align: center;
    float: left
}

.compatible-contianer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 800px;
    height: 30px;
    line-height: 30px;
    background: url(../img/browser/iebg.gif) repeat-x;
    z-index: 999999
}

.cpt-ct {
    color: #363636;
    font-size: 12px;
    text-align: center
}

.cpt-ct i {
    display: inline-block;
    width: 12px;
    height: 14px;
    vertical-align: -2px;
    margin-right: 5px;
    background: url(../img/browser/iefixed-sprite.png) no-repeat 0 0
}

.cpt-ct a {
    color: #39b94e
}

.cpt-ct a:hover {
    text-decoration: underline
}

.cpt-handle {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 12px;
    line-height: 27px
}

.cpt-handle a {
    display: inline-block;
    vertical-align: middle
}

.cpt-handle .cpt-agin {
    color: #656e73;
    margin-right: 5px
}

.cpt-handle .cpt-agin:hover {
    color: #363d40
}

.cpt-close {
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    transition: 0.3s
}

.cpt-close:hover {
    background-color: #fc8800
}

.cpt-close i {
    display: inline-block;
    height: 8px;
    width: 8px;
    vertical-align: 1px;
    background: url(../img/browser/iefixed-sprite.png) no-repeat 0 -24px
}

.cpt-close:hover i {
    background-position: 0 -42px
}

.page-title h2 {
    padding: 10px 0;
    line-height: 29px;
    height: 29px;
    color: #99a1a6;
    font-size: 14px;
    border-bottom: 1px solid #d0d6d9
}

.page-title h2 strong {
    font-size: 19px;
    font-weight: normal;
    color: #14191e
}

h2 {
    padding: 8px 0;
    line-height: 28px;
    height: 28px;
    color: #14191e;
    font-size: 16px
}

h3 {
    padding: 2px 0;
    line-height: 20px;
    height: 20px;
    color: #283b46;
    font-size: 14px
}

.main-list {
    padding: 20px 0;
    overflow: hidden;
    position: relative;
    min-height: 300px
}

.operate a {
    cursor: pointer
}

.btn {
    width: 100px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    border: none;
    background: #58b9e6;
    color: #fff
}

span.label {
    font-size: 16px;
    margin-right: 15px
}

.result-tip {
    font-weight: 200;
    text-align: center
}

.result-tip-error {
    color: #df0007;
    border: 1px solid #df0007
}

.result-tip-warn {
    color: #df7117;
    border: 1px solid #df7b0c
}

.result-tip-success {
    color: #1cdf5a;
    border: 1px solid #34df93
}
/**滚动条样式**/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(145, 142, 142, 0.87)
}

::-webkit-scrollbar-track-piece {
    background-color: #F3F3F3;
    -webkit-border-radius: 4px
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border: solid 1px #C0C0C0;
    border-radius: 4px
}

::-webkit-scrollbar-corner {
    background-color: #F3F3F3
}

::-webkit-resizer {
    background-repeat: no-repeat;
    background-position: bottom right
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d1d1d1;
}

#main .link{
    color: #d03232;
    text-decoration: underline;
}
.tool {
    margin: 15px 10px;
}
.tool div.group{
    display: inline;
    margin-right: 10px;
}
.tool div.group input{
    margin: 0 5px;
}
.tool div.group .btn{
    width: 50px;
}

i.star{
    color: #df0007;
    font-weight: 600;
    padding: 0 5px;
}

.alert {
  padding: 15px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.alert-dismissable .close, .alert-dismissible .close{
    position: relative;
    top: -9px;
    right: -21px;
    color: inherit;
}
button.close{
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
/**animated**/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
