#imageShow.fl
    #imgshow_mask
    ul#imagebg.imagebg
        li(data-sPic='images/examples/good_img.png')
            a(href='#',class='bannerbg_main',style='background:url(images/examples/detail_big_img.jpg) 50% 50% no-repeat;')
        li(data-sPic='images/examples/good_img.png')
            a(href='#',class='bannerbg_main',style='background:url(images/examples/detail_big_img.jpg) 50% 50% no-repeat;')
        li(data-sPic='images/examples/good_img.png')
            a(href='#',class='bannerbg_main',style='background:url(images/examples/detail_big_img.jpg) 50% 50% no-repeat;')
        li(data-sPic='images/examples/good_img.png')
            a(href='#',class='bannerbg_main',style='background:url(images/examples/detail_big_img.jpg) 50% 50% no-repeat;')
        li(data-sPic='images/examples/good_img.png')
            a(href='#',class='bannerbg_main',style='background:url(images/examples/detail_big_img.jpg) 50% 50% no-repeat;')

    .scrollbg
        .scroll

            a(id='#left_img_btn',class='s_pre',href='javascript:void(0)')
            #current.current
            .outScroll_pic
                ul#small_pic.scroll_pic.cls
            a(id='#right_img_btn',class='s_next',href='javascript:void(0)')