#footer
    .footer-part1
        ul
            li
                .tag-icon.icon1.fl
                .tag.fl
                    dl
                        dt 购物指南
                        dd: a(href='') 购物流程
                        dd: a(href='') 会员介绍
                        dd: a(href='') 常见问题
                        dd: a(href='') 联系客服
            li
                .tag-icon.icon2.fl
                .tag.fl
                    dl
                        dt 配送方式
                        dd: a(href='') 上门自提
                        dd: a(href='') 211限时达
                        dd: a(href='') 配送服务查询
                        dd: a(href='') 配送费收取标准
                        dd: a(href='') 海外配送
            li
                .tag-icon.icon3.fl
                .tag.fl
                    dl
                        dt 支付方式
                        dd: a(href='') 货到付款
                        dd: a(href='') 在线支付
                        dd: a(href='') 分期付款
                        dd: a(href='') 邮局汇款
                        dd: a(href='') 公司转账
            li
                .tag-icon.icon4.fl
                .tag.fl
                    dl
                        dt 售后服务
                        dd: a(href='') 售后政策
                        dd: a(href='') 价格保护
                        dd: a(href='') 退款说明
                        dd: a(href='') 返修/退换货
                        dd: a(href='') 取消订单

    .footer-part2
        .about-us
            a(href='#') 联系我们
            span &nbsp;| &nbsp;
            a(href='#') 关于我们
            span &nbsp;| &nbsp;
            a(href='#') 帮助中心
            span &nbsp;| &nbsp;
            a(href='#') 合作说明
            span &nbsp;| &nbsp;
            a(href='#') 版权说明
        .about-us © 2014 广州早上好网络科技有限公司
            span &nbsp; &nbsp;
            a(href="http://www.miibeian.gov.cn/" target="_blank") 粤ICP备14049451号-1