#header
    .header-top
        .logo
            a(href='index.html',title='36-37早上好时尚商城')
                img(src='images/logo_header.png')
        .header-right
            .telephone.fr 4006-4888-00
            .user
                .shopping-cart.fl
                    .popup_cart.js-over-show
                        .cart_cover
                        .cart_show
                            .cart_show_good
                                - for(var i=0; i<10; i++)
                                    .good
                                        .good_left.fl: a(href=''): img(src='images/examples/good_img.jpg')
                                        .good_right.fr
                                            .right_top
                                                a(href=''): p 新款时尚流行圆头拉链皮革拼接磨砂皮粗高跟低筒靴
                                            .right_bottom
                                                .good_count.fl 1件
                                                .good_price.fr <i>¥</i>599.00

                        .cart_arrow
                            a(href='javascript:;',class='ctrl-slide cart_up')
                            a(href='javascript:;',class='ctrl-slide cart_down')
                        .good_price_total
                            span.i 总价：¥
                            span 9999.00
                        .to-settle: a(href='cart.html') 去购物车结算

                .register_btn.fl: a(href='register.html') 注册
                .login_btn.fr: a(href='login.html') 登录/QQ微信登录
    #nav

        ul#main-menu.fl
            li: a(href='index.html') 首页
            each item in [{k:'list',v:'鞋靴'},{k:'list',v:'服装'},{k:'list',v:'箱包'},{k:'list',v:'手表'}]
                li.sec_menu: a(href='#{item.k}.html') #{item.v}
        .search.fr
            form(action='/search/', method='get')
                input#searchBtn(type='submit',value='')
                input#searchKeyword(placeholder='搜索',name='k')
