extends layout

block styleblock
    link(rel='stylesheet',href='css/index.css')

block content
    include _header
    .index_body
        include _ad
        .index_main
            .classify_block
                .classify.lc
                    .classify_title.lc 鞋靴
                    .classify_img.lc
                        img(src='images/shoes_bg.png')
                    .classify_count.lc
                        .count_title.lc 共有
                        .count_num.lc 397件商品
                    .classify_turn.lc: a(href='') 跳转至
                .classify.lc
                    .classify_title.lc 服装
                    .classify_img.lc
                        img(src='images/garment_bg.png')
                    .classify_count.lc
                        .count_title.lc 共有
                        .count_num.lc 397件商品
                    .classify_turn.lc: a(href='') 跳转至
                .classify.lc
                    .classify_title.lc 箱包
                    .classify_img.lc
                        img(src='images/bags_bg.png')
                    .classify_count.lc
                        .count_title.lc 共有
                        .count_num.lc 397件商品
                    .classify_turn.lc: a(href='') 跳转至
                .classify.lc
                    .classify_title.lc 手表
                    .classify_img.lc
                        img(src='images/watch_bg.png')
                    .classify_count.lc
                        .count_title.lc 共有
                        .count_num.lc 397件商品
                    .classify_turn.lc: a(href='') 跳转至
            .goods_block
                .goods_block_title 品牌<i>促销</i>
                - for(var i=0;i<4;i++)
                    .goods_little_block
                        .goods_little_block_img
                            img(src='images/examples/good_block_img.png')
                        .goods_little_block_p 圆头拉链皮革拼接磨砂皮粗高跟低筒靴
                        .goods_little_block_bar
                            .bar
                            .pro_bar
                                #prog
                                input#like(type='button',value='', onclick='startProgress()')
                        .goods_in_btn
                            span.good_price 599.00¥
                            span.nbsp &nbsp; | &nbsp;
                            span: a(href='') 进入 &nbsp; ＞

            .goods_block_hot
                .goods_block_title 热卖<i>商品</i>
                .goods_waterfall
                    - for (var i=0;i<6;i++)
                        .goods_little_block
                            .goods_little_block_img
                                img(src='images/examples/good_block_img.png')
                            .goods_little_block_p 圆头拉链皮革拼接磨砂皮粗高跟低筒靴
                            .goods_little_block_bar
                                .bar
                                .pro_bar
                                    #prog
                                    input#like(type='button',value='', onclick='startProgress()')
                            .goods_in_btn
                                span.good_price 599.00¥
                                span.nbsp &nbsp; | &nbsp;
                                span: a(href='') 进入 &nbsp; ＞
                    - for (var i=0;i<3;i++)
                        .goods_little_block
                            .goods_little_block_img
                                img(src='images/examples/good_block_img2.png')
                            .goods_little_block_p 圆头拉链皮革拼接磨砂皮粗高跟低筒靴
                            .goods_little_block_bar
                                .bar
                                .pro_bar
                                    #prog
                                    input#like(type='button',value='', onclick='startProgress()')
                            .goods_in_btn
                                span.good_price 599.00¥
                                span.nbsp &nbsp; | &nbsp;
                                span: a(href='') 进入 &nbsp; ＞
                    - for (var i=0;i<5;i++)
                        .goods_little_block
                            .goods_little_block_img
                                img(src='images/examples/good_block_img.png')
                            .goods_little_block_p 圆头拉链皮革拼接磨砂皮粗高跟低筒靴
                            .goods_little_block_bar
                                .bar
                                .pro_bar
                                    #prog
                                    input#like(type='button',value='', onclick='startProgress()')
                            .goods_in_btn
                                span.good_price 599.00¥
                                span.nbsp &nbsp; | &nbsp;
                                span: a(href='') 进入 &nbsp; ＞

    include _footer

block jsblock
    script(src='js/blocksit.min.js')
    script(src='js/index.js')