.search{
    padding: 8px 5px;
}
.search input{
    height: 42px;
    line-height: 20px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #cccccc;
    padding: 10px 32px;
}
.search .icon{
    position: absolute;
    top: 55px;
}
.search .icon1{
    left: 10px;
}
.search .icon2 {
    right: 12px;
}

ul.result li{
    background: #FFFFFF;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #DDDDDD;
    padding: 0px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
ul.result .icon{
    color: #cccccc;
}
.item div{
    display: inline-block;
}
div.name{
    padding: 0px 5px;
}
.item{
    position: relative;
}
.item .del{
    background: #f7744f;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0px;
    text-align: center;
}