.J_trigger{
    cursor: pointer;
}
.content .nav{
    background: #fff;
}
.content .nav ul{
    background: #FFFFFF;
}
.content .nav li {
    color: #b8b8b8;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    text-align: center;
    float: left;
}
.content .nav li div{
    position: relative;
    top: -1px;
    width: 50%;
    margin: 0 auto;
}
.content .nav .active{
    color: #333333;
    border-bottom: 1px solid #00b3f0;
}
li.left,li.right{
    width: 49.5%;
}
li.line{
    width: 1%;
}