<#import '/inc/inc.htm' as inc />

<@inc.header '统计'>
    <link href="${cssRoot}/index.css" rel="stylesheet">
</@inc.header>

<@inc.body>
	
	<div class="page-title">
        <h2>
			<span><strong>统计</strong></span>
		</h2>
    </div>
    
    <div class="main-list">
        <ul class="none menu-list" style="padding-top: 0px;">
            <li>
                <a href="/statistics/tel/tradeInfo">
                    <div class="menu-list-img">
                        <img width="80" height="70" alt="电话营销统计" src="${imgRoot}/nav/1173590.png">
                    </div>
                    <h5><span>电话营销统计</span></h5>
                </a>
            </li>
            <li>
                <a href="/statistics/summary/tradeInfo">
                    <div class="menu-list-img">
                        <img width="80" height="70" alt="汇总统计" src="${imgRoot}/nav/1150103.png">
                    </div>
                    <h5><span>汇总统计</span></h5>
                </a>
            </li>
        </ul>
    </div>
</@inc.body>

<@inc.footer>
</@inc.footer>