.ck-slide
    ul.ck-slide-wrapper
        li.hide: a(href='#',target='_blank'): img(src='images/examples/ad_5.jpg')
        li.hide: a(href='#',target='_blank'): img(src='images/examples/ad_4.jpg')
        li.hide: a(href='#',target='_blank'): img(src='images/examples/ad_3.jpg')
        li.hide: a(href='#',target='_blank'): img(src='images/examples/ad_2.jpg')
        li: a(href='#',target='_blank'): img(src='images/examples/ad_1.jpg')
    .arrow
        a(href='javascript:;',class='ctrl-slide ck-prev') 上一张
        a(href='javascript:;',class='ctrl-slide ck-next') 下一张
    .ck-slidebox
        .slidewrap
            ul.dot-wrap
                li.current: em 1
                li: em 2
                li: em 2
                li: em 2
                li: em 2