#footer
    .bottom
        .moihulogo
            img(src='images/moihu_logo.png')
        .us
            ul
                li: a 广告合作
                li: a 免责声明
                li: a 友情链接
                li: a 联系我们
                li: a 关于我们
                li: a @美乎网meihu
            p Copyright © 2013 美乎-MOIHU  Powered by WordPress and 中国万网 - 粤ICP备12017804号-1
            br
            .Attention
                span 关注美乎网  ：
                a: img(src='images/weibo_bg.png')
                a: img(src='images/renren_bg.png')
                a: img(src='images/qqkongjian_bg.png')
                a: img(src='images/qweibo_bg.png')
                a: img(src='images/souhu_bg.png')
                a: img(src='images/douban_bg.png')