#product_classification.products-top
    .classification_header 产品分类
    ul.classificationul
        li.li.cfli1: a(href='#',class='li1') 主材
        li.li.cfli2: a(href='#',class='li2') 家具
        li.li.cfli3: a(href='#',class='li3') 家饰
        li.li.cfli4.lastli: a(href='#',class='li4') 家电
        #popup_products_details
            .popup.popup_zhucai.js-over-show
                .cover
                .title 墙面
                ul
                    li: a() 墙漆
                    li: a() 踢脚线
                    li: a() 墙砖
                    li: a() 墙纸
                .title 地面
                ul
                    li: a() 地板
                    li: a() 地砖
                .title 水电改造
                ul
                    li: a() 光源
                    li: a() 开关面板
                    li: a() 电线管
                    li: a() 水管
                    li: a() 漏电开关
                    li: a() 配电箱
                .title 厨卫五金
                ul
                    li: a() 龙头
                    li: a() 厨房挂架
                    li: a() 水槽
                    li: a() 角阀
                    li: a() 花洒
                    li: a() 卫浴挂架
                    li: a() 地漏
                .title 卫浴
                ul
                    li: a() 马桶
                    li: a() 浴室柜
                    li: a() 洗脸盆
                    li: a() 浴缸
                .title 门窗
                ul
                    li: a() 室内门
                    li: a() 防盗门
                    li: a() 铝合金窗
                .title 橱柜
                ul
                    li: a() 定制橱柜
                .title 采暖
                ul
                    li: a() 浴霸
                    li: a() 壁挂炉
                    li: a() 暖气片
                    li: a() 分集水器
                    li: a() 地暖管
                .title 其他
                ul
                    li: a() 防水
                    li: a() 吊顶扣板
            .popup.popup_jiaju.js-over-show
                .cover
                .title 客厅
                ul
                    li: a() 沙发
                    li: a() 电视柜
                    li: a() 鞋柜
                    li: a() 茶几
                    li: a() 玄关
                    li: a() 沙发床
                    li: a() 壁炉
                    li: a() 角几
                .title 餐厅
                ul
                    li: a() 餐桌
                    li: a() 酒柜
                .title 卧室
                ul
                    li: a() 斗柜
                    li: a() 木衣柜
                    li: a() 床头柜
                    li: a() 床垫
                    li: a() 梳妆台
                    li: a() 儿童套房
                .title 书房
                ul
                    li: a() 书桌
                    li: a() 书柜
                .title 椅
                .title 定制衣柜
            .popup.popup_jiashi.js-over-show
                .cover
                ul
                    li: a() 窗帘
                    li: a() 灯饰
                    li: a() 靠抱枕
                    li: a() 园艺
                    li: a() 床品
            .popup.popup_jiadian.js-over-show
                .cover
                ul
                    li: a() 洗衣机
                    li: a() 平板电视
                    li: a() 热水器
                    li: a() 空调
                    li: a() 电冰箱
                    li: a() 吸油烟机
                    li: a() 消毒柜
                    li: a() 灶具
                    li: a() 洗碗机
    .budget: a(href='#') 做预算