extends layout
block styleblock
    link(rel='stylesheet',href='css/case.css')
block content
    include _common_header
    .case_body
        #experience_main
            #hot_list.fl.products-top
                .hot_list_header 热门分类
                li.li1: a(href='#') 验房
                li.li2: a() 设计
                li.li3: a() 风水
                li.li4: a(href='#') 泥工
                li.li5: a() 水电
                li.li6: a() 木工
                li.li7: a(href='#') 墙面
                li.li8: a() 地暖
                li.li9: a() 竣工
            #case_right_part.fl
                .right_part_title
                    .title_big 经典案例
                        span 汇集全网最精华最实用的经典案例
                    a.experience_btn(href='case_post.html') 我要发案例
                .sort
                    .time_sort 按时间排序 ↓
                    .hot_sort 按热门排序 ↓
                ul.block_list
                    li.block_header
                        a(href='')
                            img(src='images/examples/case_example_1.jpg')
                        .block_right_wrap
                            .head
                                a(href='')
                                    img(src='images/experience_head1.jpg')
                                .name doudou...
                            .li_content
                                .content_title: a(href='') 浅谈一下中式餐厅的配画风水学
                                .content_p 本文回顾本人大学所本文回顾本人大学所学简要谈下餐厅挂画对健康和饮食的影响，避免不必要的行为。 一、适合餐厅的挂画风水 ...
                                    a(href='#') [更多]
                                .recommend_number 推荐产品数： 98个
                    li.block_header
                        a(href='')
                            img(src='images/examples/case_example_1.jpg')
                        .block_right_wrap
                            .head
                                a(href='')
                                    img(src='images/experience_head1.jpg')
                                .name doudou...
                            .li_content
                                .content_title: a(href='') 浅谈一下中式餐厅的配画风水学
                                .content_p 本文回顾本人大学所本文回顾本人大学所学简要谈下餐厅挂画对健康和饮食的影响，避免不必要的行为。 一、适合餐厅的挂画风水 ...
                                    a(href='#') [更多]
                                .recommend_number 推荐产品数： 98个
                    li.block_header
                        a(href='')
                            img(src='images/examples/case_example_1.jpg')
                        .block_right_wrap
                            .head
                                a(href='')
                                    img(src='images/experience_head1.jpg')
                                .name doudou...
                            .li_content
                                .content_title: a(href='') 浅谈一下中式餐厅的配画风水学
                                .content_p 本文回顾本人大学所本文回顾本人大学所学简要谈下餐厅挂画对健康和饮食的影响，避免不必要的行为。 一、适合餐厅的挂画风水 ...
                                    a(href='#') [更多]
                                .recommend_number 推荐产品数： 98个
                    li.block_header
                        a(href='')
                            img(src='images/examples/case_example_1.jpg')
                        .block_right_wrap
                            .head
                                a(href='')
                                    img(src='images/experience_head1.jpg')
                                .name doudou...
                            .li_content
                                .content_title: a(href='') 浅谈一下中式餐厅的配画风水学
                                .content_p 本文回顾本人大学所本文回顾本人大学所学简要谈下餐厅挂画对健康和饮食的影响，避免不必要的行为。 一、适合餐厅的挂画风水 ...
                                    a(href='#') [更多]
                                .recommend_number 推荐产品数： 98个
                    li.block_header
                        a(href='')
                            img(src='images/examples/case_example_1.jpg')
                        .block_right_wrap
                            .head
                                a(href='')
                                    img(src='images/experience_head1.jpg')
                                .name doudou...
                            .li_content
                                .content_title: a(href='') 浅谈一下中式餐厅的配画风水学
                                .content_p 本文回顾本人大学所本文回顾本人大学所学简要谈下餐厅挂画对健康和饮食的影响，避免不必要的行为。 一、适合餐厅的挂画风水 ...
                                    a(href='#') [更多]
                                .recommend_number 推荐产品数： 98个
                    li.block_header
                        a(href='')
                            img(src='images/examples/case_example_1.jpg')
                        .block_right_wrap
                            .head
                                a(href='')
                                    img(src='images/experience_head1.jpg')
                                .name doudou...
                            .li_content
                                .content_title: a(href='') 浅谈一下中式餐厅的配画风水学
                                .content_p 本文回顾本人大学所本文回顾本人大学所学简要谈下餐厅挂画对健康和饮食的影响，避免不必要的行为。 一、适合餐厅的挂画风水 ...
                                    a(href='#') [更多]
                                .recommend_number 推荐产品数： 98个
                    li.block_header
                        a(href='')
                            img(src='images/examples/case_example_1.jpg')
                        .block_right_wrap
                            .head
                                a(href='')
                                    img(src='images/experience_head1.jpg')
                                .name doudou...
                            .li_content
                                .content_title: a(href='') 浅谈一下中式餐厅的配画风水学
                                .content_p 本文回顾本人大学所本文回顾本人大学所学简要谈下餐厅挂画对健康和饮食的影响，避免不必要的行为。 一、适合餐厅的挂画风水 ...
                                    a(href='#') [更多]
                                .recommend_number 推荐产品数： 98个
                    li.block_header
                        a(href='')
                            img(src='images/examples/case_example_1.jpg')
                        .block_right_wrap
                            .head
                                a(href='')
                                    img(src='images/experience_head1.jpg')
                                .name doudou...
                            .li_content
                                .content_title: a(href='') 浅谈一下中式餐厅的配画风水学
                                .content_p 本文回顾本人大学所本文回顾本人大学所学简要谈下餐厅挂画对健康和饮食的影响，避免不必要的行为。 一、适合餐厅的挂画风水 ...
                                    a(href='#') [更多]
                                .recommend_number 推荐产品数： 98个
                    li.block_header
                        a(href='')
                            img(src='images/examples/case_example_1.jpg')
                        .block_right_wrap
                            .head
                                a(href='')
                                    img(src='images/experience_head1.jpg')
                                .name doudou...
                            .li_content
                                .content_title: a(href='') 浅谈一下中式餐厅的配画风水学
                                .content_p 本文回顾本人大学所本文回顾本人大学所学简要谈下餐厅挂画对健康和饮食的影响，避免不必要的行为。 一、适合餐厅的挂画风水 ...
                                    a(href='#') [更多]
                                .recommend_number 推荐产品数： 98个
                    li.block_header
                        a(href='')
                            img(src='images/examples/case_example_1.jpg')
                        .block_right_wrap
                            .head
                                a(href='')
                                    img(src='images/experience_head1.jpg')
                                .name doudou...
                            .li_content
                                .content_title: a(href='') 浅谈一下中式餐厅的配画风水学
                                .content_p 本文回顾本人大学所本文回顾本人大学所学简要谈下餐厅挂画对健康和饮食的影响，避免不必要的行为。 一、适合餐厅的挂画风水 ...
                                    a(href='#') [更多]
                                .recommend_number 推荐产品数： 98个


                include _page_one