extends layout
block styleblock
    link(rel='stylesheet',href='css/index.css')
block content
    include _index_header
    .index_body
        #products.products-top
            .products_wrap.zhucai
                ul
                    .h3.zhucaibg 主材
                    li: a(href='#') 墙面
                    li: a(href='#') 厨卫五金
                    li: a(href='#') 卫浴
                    li: a(href='#') 地面
                    li: a(href='#') 水电改造
                    li: a(href='#') 门窗
                    li: a(href='#') 橱柜
                    li: a(href='#') 采暖
                    li: a(href='#') 其他
                #popup_zhucai.js-over-show
                    .cover1
                    ul
                        li: a() 墙漆
                        li: a() 墙纸
                        li: a() 墙砖
                        li: a() 踢脚线
                        li: a() 木地板
                        li: a() 地砖
                    ul
                        li: a() 开关面板
                        li: a() 漏电开关
                        li: a() 光源
                        li: a() 配电箱
                        li: a() 电线
                        li: a() 电线管
                    ul
                        li: a() 水管
                        li: a() 龙头
                        li: a() 花洒
                        li: a() 水槽
                        li: a() 厨房挂架
                        li: a() 卫浴挂架
                        li: a() 角阀
                        li: a() 地漏
                    ul
                        li: a() 马桶
                        li: a() 浴室柜
                        li: a() 洗脸盆
                        li: a() 浴缸
                    ul
                        li: a() 橱柜
                    ul
                        li: a() 防水
                        li: a() 吊顶扣板
            .products_wrap.jiaju
                ul
                    .h3.jiajubg 家具
                    li: a(href='#') 客厅
                    li: a(href='#') 餐厅
                    li: a(href='#') 书房
                    li: a(href='#') 卧室
                    li: a(href='#') 椅
                    li: a(href='#') 定制衣柜
                #popup_jiaju.js-over-show
                    .cover2
                    ul
                        li: a() 沙发
                        li: a() 电视柜
                        li: a() 鞋柜
                        li: a() 茶几
                        li: a() 玄关
                        li: a() 沙发床
                        li: a() 壁炉
                        li: a() 角几
                    ul
                        li: a() 餐桌
                        li: a() 酒柜
                    ul
                        li: a() 床
                        li: a() 木衣柜
                        li: a() 斗柜
                        li: a() 儿童套房
                        li: a() 床垫
                        li: a() 梳妆台
                        li: a() 床头柜
                    ul
                        li: a() 书桌
                        li: a() 书柜
                    ul
                        li: a() 椅
                        li: a() 定制衣柜
            .products_wrap
                ul
                    .h3.jiashibg 家饰
                    li: a(href='#') 窗帘
                    li: a(href='#') 灯饰
                    li: a(href='#') 床品
                    li: a(href='#') 园艺
                    li: a(href='#') 挂钟
            .products_wrap
                ul
                    .h3.jiadianbg 家电
                    li: a(href='#') 平板电视
                    li: a(href='#') 空调
                    li: a(href='#') 洗衣机
                    li: a(href='#') 吸油烟机
                    li: a(href='#') 灶具
                    li: a(href='#') 电冰箱
                    li: a(href='#') 热水器
                    li: a(href='#') 消毒柜
                    li: a(href='#') 洗碗机
            .products_wrap
                ul.lastul
                    .anli 看案例
                    li: a(href='case_details.html') 轻奢华
                    li: a(href='case_details.html') 现代简约
                    li: a(href='case_details.html') 田园
                    li: a(href='case_details.html') 欧式
                    li: a(href='case_details.html') 现代中式
                    li: a(href='case_details.html') 宜家
                    li: a(href='case_details.html') 美式
                    li: a(href='case_details.html') 古典中式
                    li: a(href='case_details.html') 北欧
                    li: a(href='case_details.html') 地中海
                    li: a(href='case_details.html') 小清新
        #main
            .block
                include _ad
                .budget
                    .h2 预算神器
                    .calculate_1 输入房屋面积和类型，按提示选择适合的选项
                    .calculate_input
                        input(type='text',placeholder='请输入建筑面积',name='calculate')
                    .calculate_unit 平方米
                    //.calculate_2 （请输入30~300的整数，如：56）
                    .calculate_input2
                        span#houseType 毛坯房
                        #popup_house_type.hide.js-over-show
                            ul
                                li 毛坯房
                                li 精装房
                                li 二手房
                    .calculate_unit 房屋类型
                    //.calculate_2 （数值范围0.5~300，最多一位小数）
                    .btn1 开始计算
                        //input(type='submit',value='开始计算')
                    .aide
                        .p1
                            a(href='#') 水电布位器
                                i  - 计算全屋水位电位
                        .p1
                            a(href='#') 瓷砖助手
                                i  - 买多少砖，我来算
                #popup_budget
                    .close_button
                    .popup_budget_left
                        .wrapper
                            .row1
                                .popup_h1 建筑面积
                                    i （m²）
                                input(type='text',placeholder='范围：20-300')
                                .tips 提示：20-300m²之间，请重新输入！
                            .row2
                                .popup_h1 房源类型及硬装程度
                                .choose
                                    span#fangType 毛坯房
                                    span#fangDetail 全部硬装
                                    #popup_choose.hide.js-over-show
                                        ul
                                            li(fang_type='maopi'): a() 毛坯房
                                            li(fang_type='jingzhuang'): a() 精装房
                                            li(fang_type='jiufang'): a() 旧房翻新
                                        #popup_second_choose.hide
                                            ul.maopi
                                                li 全部硬装
                                            ul.jingzhuang
                                                li 无硬装
                                                li 局部硬装
                                                li 简单硬装
                                                li 全部重装
                                            ul.jiufang
                                                li 局部硬装
                                                li 简单硬装
                                                li 全部重装

                    .popup_budget_center
                        .wrapper
                            .row1
                                .popup_h1 预算
                                    i （万）
                                input(type='text',placeholder='范围：0.2-100')
                                .tips 提示：0.2-99万之间，请重新输入！
                            .row2
                                .popup_h1 预算项目
                                    i (可选1-4项)
                                .project
                                    label.f_checkbox_normal.unchecked
                                        .project1
                                        input(type='checkbox',name='',value='name')
                                    label.f_checkbox_normal.unchecked
                                        .project2
                                        input(type='checkbox',name='',value='name')
                                    label.f_checkbox_normal.unchecked
                                        .project3
                                        input(type='checkbox',name='',value='name')
                                    label.f_checkbox_normal.unchecked
                                        .project4
                                        input(type='checkbox',name='',value='name')
                    .popup_budget_right
                        .wrapper
                            mixin label(title,checkboxs)
                                .popup_h1 #{title}
                                    i (可选1-4项)
                                each checkbox in checkboxs
                                    label.f_checkbox_more4.unchecked #{checkbox.name}
                                        input(type='checkbox',name='styleName',value='#{checkbox.value}')
                            +label('风格',[{name:'风格不限',value:0},{name:'现代简约',value:1},{name:'欧式风格',value:2},{name:'美式风格',value:3},{name:'中式古典',value:4},{name:'中式现代',value:5}])
                            label.f_checkbox_more4.unchecked.lastrow 工业风
                                input(type='checkbox',name='styleName',value='6')
                            label.f_checkbox_more4.unchecked.lastrow 宜家风
                                input(type='checkbox',name='styleName',value='7')
                            .btn1 开始计算
                .ad_bottom
                    a: img(src='images/examples/ad_b_1.jpg')
                    a: img(src='images/examples/ad_b_2.jpg')
                    a: img(src='images/examples/ad_b_3.jpg' class='last')
            .block
                .block_top
                    .block_top_bg1: a(href='square.html') 平方购
                    .p2 爱家的你，感受家装新生活
                .little_block
                    .little_block_top
                        .h4.fl 工薪首选
                        .h4_right.fr
                            .h5.fl ¥
                            .h6.fl 450
                            .h7.fl /
                            .h8.fl 平方
                    .block_img
                        a: img(src='images/examples/block_img_1.jpg')
                    .block_img_logo
                        li.li1: a(href='#' target='_blank')
                        li.li2: a(href='#')
                        li.li3: a(href='#')
                        li.li4: a(href='#')
                        li.li5: a(href='#')
                        li.li6: a(href='#')
                        li.li7: a(href='#')
                        li.li8: a(href='#')
                        li.li9: a(href='#')
                        li.li10: a(href='#')
                        li.li11: a(href='#')
                        li.li12: a(href='#')
                .little_block
                    .little_block_top
                        .h4.fl 小白最爱
                        .h4_right.fl
                            .h5.fl ¥
                            .h6.fl 600
                            .h7.fl /
                            .h8.fl 平方
                    .block_img
                        a: img(src='images/examples/block_img_2.jpg')
                    ul.block_img_logo
                        li.li1: a(href='#' target='_blank')
                        li.li2: a(href='#')
                        li.li3: a(href='#')
                        li.li4: a(href='#')
                        li.li5: a(href='#')
                        li.li6: a(href='#')
                        li.li7: a(href='#')
                        li.li8: a(href='#')
                        li.li9: a(href='#')
                        li.li10: a(href='#')
                        li.li11: a(href='#')
                        li.li12: a(href='#')
                .little_block.last
                    .little_block_top
                        .h4.fl 个性品味
                        .h4_right.fr
                            .h5.fl ¥
                            .h6.fl 1000
                            .h7.fl /
                            .h8.fl 平方
                    .block_img
                        a: img(src='images/examples/block_img_3.jpg')
                    ul.block_img_logo
                        li.li1: a(href='#' target='_blank')
                        li.li2: a(href='#')
                        li.li3: a(href='#')
                        li.li4: a(href='#')
                        li.li5: a(href='#')
                        li.li6: a(href='#')
                        li.li7: a(href='#')
                        li.li8: a(href='#')
                        li.li9: a(href='#')
                        li.li10: a(href='#')
                        li.li11: a(href='#')
                        li.li12: a(href='#')
            .block
                .block_top
                    .block_top_bg2: a(href='cost_efficient.html') 聚合算
                    ul.part3
                        li: a 灯饰照明
                        li: a 厨房卫浴
                        li: a 电工电料
                        li: a 墙地面材料
                        li: a 装饰材料
                        li: a 五金工具
                        li.last: a 智能家居
                .little_block_part2
                    .little_block_part2_top
                        .part2_top 同依布艺花开富贵遮光窗帘3米宽*2.5米高
                        .h4_right
                            h4.fl 搭配价
                            .h5.fl ¥
                            .h6.fl 4580
                            .h9.fr 共26件套
                    .block_img_part2
                        .img_part2_row1
                            a(href='product_details.html'): img(src='images/examples/block_img_row2_1.jpg')
                            .price_bg ¥ 199
                        .img_part2_row2
                            .row2_img.fl
                                a(href='product_details.html'): img(src='images/examples/block_img_part2_row2_3.jpg')
                                .price_bg ¥ 1250
                            .row2_img.fl
                                a(href='product_details.html'): img(src='images/examples/block_img_part2_row2_1.jpg')
                                .price_bg ¥ 190
                            .row2_img.last.fl
                                a(href='product_details.html'): img(src='images/examples/block_img_part2_row2_2.jpg')
                                .price_bg ¥ 750
                .little_block_part2
                    .little_block_part2_top
                        .part2_top 同依布艺花开富贵遮光窗帘3米宽*2.5米高
                        .h4_right
                            h4.fl 搭配价
                            .h5.fl ¥
                            .h6.fl 7100
                            .h9.fr 共69件套
                    .block_img_part2
                        .img_part2_row1
                            a(href='product_details.html'): img(src='images/examples/block_img_row2_2.jpg')
                            .price_bg ¥ 199
                        .img_part2_row2
                            .row2_img.fl
                                a: img(src='images/examples/block_img_part2_row2_3.jpg')
                                .price_bg ¥ 1250
                            .row2_img.fl
                                a: img(src='images/examples/block_img_part2_row2_1.jpg')
                                .price_bg ¥ 190
                            .row2_img.last.fl
                                a: img(src='images/examples/block_img_part2_row2_2.jpg')
                                .price_bg ¥ 750
                .little_block_part2.last
                    .little_block_part2_top
                        .part2_top 同依布艺花开富贵遮光窗帘3米宽*2.5米高
                        .h4_right
                            h4.fl 搭配价
                            .h5.fl ¥
                            .h6.fl 8280
                            .h9.fr 共69件套
                    .block_img_part2
                        .img_part2_row1
                            a(href='product_details.html'): img(src='images/examples/block_img_row2_3.jpg')
                            .price_bg ¥ 199
                        .img_part2_row2
                            .row2_img.fl
                                a: img(src='images/examples/block_img_part2_row2_3.jpg')
                                .price_bg ¥ 1250
                            .row2_img.fl
                                a: img(src='images/examples/block_img_part2_row2_1.jpg')
                                .price_bg ¥ 190
                            .row2_img.last.fl
                                a: img(src='images/examples/block_img_part2_row2_2.jpg')
                                .price_bg ¥ 750
                .little_block_part2
                    .little_block_part2_top
                        .part2_top 同依布艺花开富贵遮光窗帘3米宽*2.5米高
                        .h4_right
                            h4.fl 搭配价
                            .h5.fl ¥
                            .h6.fl 6100
                            .h9.fr 共69件套
                    .block_img_part2
                        .img_part2_row1
                            .row1_img.fl
                                a(href='product_details.html'): img(src='images/examples/block_img_row2_4.jpg')
                                .price_bg ¥ 200
                            .row1_2_img.fl.last
                                a: img(src='images/examples/block_img_part2_row2_2.jpg')
                                .price_bg ¥ 19
                            .row1_2_img.fl.last
                                a: img(src='images/examples/block_img_part2_row2_1.jpg')
                                .price_bg ¥ 199
                        .img_part2_row2
                            .row2_img.fl
                                a: img(src='images/examples/block_img_part2_row2_3.jpg')
                                .price_bg ¥ 1250
                            .row2_img.fl
                                a: img(src='images/examples/block_img_part2_row2_1.jpg')
                                .price_bg ¥ 190
                            .row2_img.last.fl
                                a: img(src='images/examples/block_img_part2_row2_2.jpg')
                                .price_bg ¥ 750
                .little_block_part2
                    .little_block_part2_top
                        .part2_top 同依布艺花开富贵遮光窗帘3米宽*2.5米高
                        .h4_right
                            h4.fl 搭配价
                            .h5.fl ¥
                            .h6.fl 20500
                            .h9.fr 共69件套
                    .block_img_part2
                        .img_part2_row1
                            .row1_img.fl
                                a(href='product_details.html'): img(src='images/examples/block_img_row2_5.jpg')
                                .price_bg ¥ 200
                            .row1_2_img.fl.last
                                a: img(src='images/examples/block_img_part2_row2_2.jpg')
                                .price_bg ¥ 19
                            .row1_2_img.fl.last
                                a: img(src='images/examples/block_img_part2_row2_1.jpg')
                                .price_bg ¥ 199
                        .img_part2_row2
                            .row2_img.fl
                                a: img(src='images/examples/block_img_part2_row2_5.jpg')
                                .price_bg ¥ 190
                            .row2_img.last.fl
                                a: img(src='images/examples/block_img_part2_row2_2.jpg')
                                .price_bg ¥ 750
                .little_block_part2.last
                    .little_block_part2_top
                        .part2_top 同依布艺花开富贵遮光窗帘3米宽*2.5米高
                        .h4_right
                            h4.fl 搭配价
                            .h5.fl ¥
                            .h6.fl 11280
                            .h9.fr 共69件套
                    .block_img_part2
                        .img_part2_row1
                            a(href='product_details.html'): img(src='images/examples/block_img_row2_6.jpg')
                            .price_bg ¥ 199
                        .img_part2_row2
                            .row2_img.fl
                                a: img(src='images/examples/block_img_part2_row2_3.jpg')
                                .price_bg ¥ 1250
                            .row2_img.fl
                                a: img(src='images/examples/block_img_part2_row2_1.jpg')
                                .price_bg ¥ 190
                            .row2_img.last.fl
                                a: img(src='images/examples/block_img_part2_row2_2.jpg')
                                .price_bg ¥ 750
            .block
                .block_top
                    .block_top_bg3: a(href='base_price.html') 底价爆款
                    ul.part3
                        li: a(href='#') 灯饰照明
                        li: a 厨房卫浴
                        li: a 电工电料
                        li: a 墙地面材料
                        li: a 装饰材料
                        li: a 五金工具
                        li.last: a 智能家居
                .little_block_part3
                    li
                        .row3
                            .img_row3
                                a(href='#',target='_blank')
                                    img(src='images/examples/block_img_row3_1.jpg')
                            .p 优妮彩 景德镇陶瓷 56头骨瓷餐具瓷器套装
                            .h4_bottom
                                .h5.fl ¥
                                .h6.fl 850
                                .h8.fl 起
                                .btn2.fr 去看看
                    li
                        .row3
                            .img_row3
                                a(href='#',target='_blank')
                                    img(src='images/examples/block_img_row3_2.jpg')
                            .p 优妮彩 景德镇陶瓷 56头骨瓷餐具瓷器套装
                            .h4_bottom
                                .h5.fl ¥
                                .h6.fl 1999
                                .h8.fl 起
                                .btn2.fr 去看看
                    li
                        .row3
                            .img_row3
                                a(href='#',target='_blank')
                                    img(src='images/examples/block_img_row3_3.jpg')
                            .p 优妮彩 景德镇陶瓷 56头骨瓷餐具瓷器套装
                            .h4_bottom
                                .h5.fl ¥
                                .h6.fl 1920
                                .h8.fl 起
                                .btn2.fr 去看看
                    li
                        .row3
                            .img_row3
                                a(href='#',target='_blank')
                                    img(src='images/examples/block_img_row3_4.jpg')
                            .p 优妮彩 景德镇陶瓷 56头骨瓷餐具瓷器套装
                            .h4_bottom
                                .h5.fl ¥
                                .h6.fl 280
                                .h8.fl 起
                                .btn2.fr 去看看
                    li
                        .row3
                            .img_row3
                                a(href='#',target='_blank')
                                    img(src='images/examples/block_img_row3_5.jpg')
                            .p 优妮彩 景德镇陶瓷 56头骨瓷餐具瓷器套装
                            .h4_bottom
                                .h5.fl ¥
                                .h6.fl 2788
                                .h8.fl 起
                                .btn2.fr 去看看
                    li
                        .row3
                            .img_row3
                                a(href='#',target='_blank')
                                    img(src='images/examples/block_img_row3_6.jpg')
                            .p 优妮彩 景德镇陶瓷 56头骨瓷餐具瓷器套装
                            .h4_bottom
                                .h5.fl ¥
                                .h6.fl 349
                                .h8.fl 起
                                .btn2.fr 去看看
                    li
                        .row3
                            .img_row3
                                a(href='#',target='_blank')
                                    img(src='images/examples/block_img_row3_7.jpg')
                            .p 优妮彩 景德镇陶瓷 56头骨瓷餐具瓷器套装
                            .h4_bottom
                                .h5.fl ¥
                                .h6.fl 20
                                .h8.fl 起
                                .btn2.fr 去看看
                    li
                        .row3
                            .img_row3
                                a(href='#',target='_blank')
                                    img(src='images/examples/block_img_row3_8.jpg')
                            .p 优妮彩 景德镇陶瓷 56头骨瓷餐具瓷器套装
                            .h4_bottom
                                .h5.fl ¥
                                .h6.fl 280
                                .h8.fl 起
                                .btn2.fr 去看看
            .block
                .block_top
                    .block_top_bg4: a(href='#') 品牌购
                    ul.part4
                        li: a(href='#') 灯饰照明
                        li: a 厨房卫浴
                        li: a 电工电料
                        li: a 墙地面材料
                        li: a 装饰材料
                        li: a 五金工具
                        li: a 智能家居
                    .allbrand.last.fr: a(href='#') + 全部品牌购
                .little_block_part4
                    .part4_left.fl
                        li.first
                            .row4_img
                                a(href='#'): img(src='images/examples/block_img_row4_1.jpg')
                            .row4_bottom
                                img(src='images/examples/block_img_row4_logo_1.jpg')
                                .row4_bottom_right.fr
                                    .bottom_right.fl 8818城送到家
                                    .btn3.fl 马上抢
                        li.first
                            .row4_img
                                a(href='#'): img(src='images/examples/block_img_row4_2.jpg')
                            .row4_bottom
                                img(src='images/examples/block_img_row4_logo_2.jpg')
                                .row4_bottom_right.fr
                                    .bottom_right.fl 8818城送到家
                                    .btn3.fl 马上抢
                        li
                            .row4_img
                                a(href='#'): img(src='images/examples/block_img_row4_3.jpg')
                            .row4_bottom
                                img(src='images/examples/block_img_row4_logo_3.jpg')
                                .row4_bottom_right.fr
                                    .bottom_right.fl 8818城送到家
                                    .btn3.fl 马上抢
                        li
                            .row4_img
                                a(href='#'): img(src='images/examples/block_img_row4_4.jpg')
                            .row4_bottom
                                img(src='images/examples/block_img_row4_logo_4.jpg')
                                .row4_bottom_right.fr
                                    .bottom_right.fl 8818城送到家
                                    .btn3.fl 马上抢
                        li
                            .row4_img
                                a(href='#'): img(src='images/examples/block_img_row4_5.jpg')
                            .row4_bottom
                                img(src='images/examples/block_img_row4_logo_5.jpg')
                                .row4_bottom_right.fr
                                    .bottom_right.fl 8818城送到家
                                    .btn3.fl 马上抢
                        li
                            .row4_img
                                a(href='#'): img(src='images/examples/block_img_row4_6.jpg')
                            .row4_bottom
                                img(src='images/examples/block_img_row4_logo_6.jpg')
                                .row4_bottom_right.fr
                                    .bottom_right.fl 8818城送到家
                                    .btn3.fl 马上抢
                    .part4_right.fr
                        .right_top 品牌旗舰榜
                        .right_top_row2
                            div(class='sales fl',select='sales') 销售量
                            div(class='collection fl',select='sales') 收藏数
                        #list1.right_list
                            .cover1
                            li: a(href='#')
                                img(src='images/examples/block_img_row4_right_1.jpg')
                                .img_brief.fl
                                    .row1 MOPO/摩普MP-1983
                                    .row2 ¥2980.00
                                    .row3 已售出6985笔
                            li: a(href='#')
                                img(src='images/examples/block_img_row4_right_2.jpg')
                                .img_brief.fl
                                    .row1 MOPO/摩普MP-1008
                                    .row2 ¥980.00
                                    .row3 已售出6911笔
                            li: a(href='#')
                                img(src='images/examples/block_img_row4_right_3.jpg')
                                .img_brief.fl
                                    .row1 MOPO/摩普MP-1992
                                    .row2 ¥2580.00
                                    .row3 已售出6805笔
                            li: a(href='#')
                                img(src='images/examples/block_img_row4_right_4.jpg')
                                .img_brief.fl
                                    .row1 MOPO/摩普MP-3009
                                    .row2 ¥280.00
                                    .row3 已售出6715笔
                            li: a(href='#')
                                img(src='images/examples/block_img_row4_right_5.jpg')
                                .img_brief.fl
                                    .row1 MOPO/摩普MP-805
                                    .row2 ¥980.00
                                    .row3 已售出6585笔
                            li: a(href='#')
                                img(src='images/examples/block_img_row4_right_6.jpg')
                                .img_brief.fl
                                    .row1 MOPO/摩普MP-3007
                                    .row2 ¥298.00
                                    .row3 已售出5985笔
                            .more: a(href='#') 查看更多宝贝
                        #list2.right_list.hide
                            .cover2
                            li: a(href='#')
                                img(src='images/examples/block_img_row4_right_21.jpg')
                                .img_brief.fl
                                    .row1 MOPO/摩普MP-1983
                                    .row2 ¥2980.00
                                    .row3 已售出6985笔
                            li: a(href='#')
                                img(src='images/examples/block_img_row4_right_22.png')
                                .img_brief.fl
                                    .row1 MOPO/摩普MP-1008
                                    .row2 ¥980.00
                                    .row3 已售出6911笔
                            li: a(href='#')
                                img(src='images/examples/block_img_row4_right_23.png')
                                .img_brief.fl
                                    .row1 MOPO/摩普MP-1992
                                    .row2 ¥2580.00
                                    .row3 已售出6805笔
                            li: a(href='#')
                                img(src='images/examples/block_img_row4_right_24.png')
                                .img_brief.fl
                                    .row1 MOPO/摩普MP-3009
                                    .row2 ¥280.00
                                    .row3 已售出6715笔
                            li: a(href='#')
                                img(src='images/examples/block_img_row4_right_25.png')
                                .img_brief.fl
                                    .row1 MOPO/摩普MP-805
                                    .row2 ¥980.00
                                    .row3 已售出6585笔
                            li: a(href='#')
                                img(src='images/examples/block_img_row4_right_26.png')
                                .img_brief.fl
                                    .row1 MOPO/摩普MP-3007
                                    .row2 ¥298.00
                                    .row3 已售出5985笔
                            .more: a(href='#') 查看更多宝贝
            .block
                .little_block_part5
                    li.part5_title
                        .part5_h.fl: a(href='case.html') 案例
                        .part5_brief.fl 选一种自己喜欢的生活方式 →
                    li
                        .row5_img
                            img(src='images/examples/block_img_row5_1.jpg')
                        .btn4: a(href='case_details.html')
                            .vale 轻奢华
                    li
                        .row5_img
                            img(src='images/examples/block_img_row5_2.jpg')
                        .btn4: a(href='case_details.html')
                            .vale 简约
                    li
                        .row5_img
                            img(src='images/examples/block_img_row5_3.jpg')
                        .btn4: a(href='case_details.html')
                            .vale 现代中式
                    li
                        .row5_img
                            img(src='images/examples/block_img_row5_4.jpg')
                        .btn4: a(href='case_details.html')
                            .vale 古典中式
                    li.last
                        .row5_img
                            img(src='images/examples/block_img_row5_5.jpg')
                        .btn4: a(href='case_details.html')
                            .vale 欧式
                    li
                        .row5_img
                            img(src='images/examples/block_img_row5_6.jpg')
                        .btn4: a(href='case_details.html')
                            .vale 美式
                    li
                        .row5_img
                            img(src='images/examples/block_img_row5_7.jpg')
                        .btn4: a(href='case_details.html')
                            .vale 地中海
                    li
                        .row5_img
                            img(src='images/examples/block_img_row5_8.jpg')
                        .btn4: a(href='case_details.html')
                            .vale 田园
                    li
                        .row5_img
                            img(src='images/examples/block_img_row5_9.jpg')
                        .btn4: a(href='case_details.html')
                            .vale 清新
                    li
                        .row5_img
                            img(src='images/examples/block_img_row5_10.jpg')
                        .btn4: a(href='case_details.html')
                            .vale 宜家
                    li.last
                        .row5_img
                            img(src='images/examples/block_img_row5_11.jpg')
                        .btn4: a(href='case_details.html')
                            .vale 混搭
            .block
                .block_part6_left.fl
                    .block_top_bg5
                        a(href='#') 问答
                        span 有963个业主得到帮助
                    .my_question
                        .my_question_header
                        form(method='post',action='qpost.html')
                            textarea(name='title',placeholder='提问前请先搜索，看看您的问题与其他是否已经问过。',rows='7')
                            .tips.fl 您还可以输入
                                span 50
                            .tips.fl 个字
                                span
                            input(type='submit',value=' ')
                    .other_question.fl
                        .everyone 大家都在问
                            a(href='#'): span.fr 更多 >
                        li
                            .head.fl
                                a(href='#'): img(src='images/head1.jpg')
                            .question.fl
                                .question_row1: a(href='#') 白色皮沙发，不用沙发罩，能用几年，脏的程度可以接受？
                                .question_row2
                                    .l1.fl: a(href='#') 好好生活
                                    .l2.fl 2014-12-22
                                    .l3.fr: a(href='#') 回答（0）
                        li
                            .head.fl
                                a(href='#'): img(src='images/head2.jpg')
                            .question.fl
                                .question_row1: a(href='#') 白色皮沙发，不用沙发罩，能用几年，脏的程度可以接受？
                                .question_row2
                                    .l1.fl: a(href='#') 小蜜vs小秘
                                    .l2.fl 2014-12-22
                                    .l3.fr: a(href='#') 回答（0）
                        li
                            .head.fl
                                a(href='#'): img(src='images/head3.jpg')
                            .question.fl
                                .question_row1: a(href='#') 白色皮沙发，不用沙发罩，能用几年，脏的程度可以接受？
                                .question_row2
                                    .l1.fl: a(href='#') 康夫
                                    .l2.fl 2014-12-22
                                    .l3.fr: a(href='#') 回答（5）
                        li
                            .head.fl
                                a(href='#'): img(src='images/head4.jpg')
                            .question.fl
                                .question_row1: a(href='#') 白色皮沙发，不用沙发罩，能用几年，脏的程度可以接受？
                                .question_row2
                                    .l1.fl: a(href='#') alanfit
                                    .l2.fl 2014-12-22
                                    .l3.fr: a(href='#') 回答（26）
                .block_part6_right.fl
                    .block_top_bg6
                        a(href='experience.html') 经验
                        span 有xxx条经验供学习
                    ul.fl
                        a(href=''): li.li1 验房
                        a(href=''): li.li2 风水
                        a(href=''): li.li3.last 设计
                        a(href=''): li.li4 泥工
                        a(href=''): li.li5 水电
                        a(href=''): li.li6.last 木工
                        a(href=''): li.li7 墙面
                        a(href=''): li.li8 地暖
                        a(href=''): li.li9.last 竣工
block jsblock
    script(src='js/slide.js')
    script
        $('.ck-slide').ckSlide({autoPlay: true,dir: 'x',isAnimate: false});