doctype html
html
    head
        meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
        link(rel='stylesheet',href='css/reset.css')
        link(rel='stylesheet',href='css/common.css')
        block styleblock

        title 美乎--家居生活分享社交第一平台

    body
        include _right_part
        block content
        include _footer
        script(src='js/jquery.1.8.2.js',rel='stylesheet')
        script(src='js/index.js',rel='stylesheet')
        block jsblock