extends layout
block styleblock
    link(rel='stylesheet',href='css/special_details.css')
block content
    include _common_header
    .special_details_body
        .body-wrap
            include _left_part
            #special_details_main
                .block_top 1800元以内的布艺沙发（共xx件）
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_tips1 参考实例
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169

                include _page_one