extends layout
block styleblock
    link(rel='stylesheet',href='css/store.css')
block content
    include _common_header
    .store_body
        .body-wrap
            include _left_part
            #store_main
                .block_top
                    .store_logo
                        img(src='images/store_logo1.jpg')
                        .store_source
                            .source1 京东
                                span 顾家家居旗舰店
                            .store_from 来自：
                                span 广东广州
                    .store_link
                        .products_number 共<span>3989</span>件产品
                        .store_login_btn: a(href='') 进店看看
                            span >>
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_tips1 参考实例
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                .block_content
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169
                    .products_search_little_block.last
                        .little_block_img
                            a(href='product_details.html',target='_blank')
                                img(src='images/examples/special_img_1.jpg')
                            .img_like
                        .other_spec
                            .spec
                                .t T
                                    span 1
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥365
                                .t T
                                    span 2
                                    .spc 1.5*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 3
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                                .t T
                                    span 4
                                    .spc 1.8*1.8儿童专用被子尺寸
                                        i ￥429
                                .t T
                                    span 5
                                    .spc 2.0*2.3儿童专用被子尺寸
                                        i ￥498
                        .p_title <span>京东</span>布艺婚<i>床</i>布<i>床</i>可拆洗双人<i>床</i>实木框架席梦思<i>床</i>头软
                        .spc_price ¥169