#pageshow {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 300px;
  z-index: 9;
  border-left: 1px solid #555555;
}
#pageshow #circle {
  margin-left: -7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #000000;
}
#pageshow #page {
  padding-top: 10px;
  margin-left: -10px;
}
#pageshow #page div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #777777;
  background-color: #ffffff;
  margin-top: 5px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}
#pageshow #page .current_p {
  border: 2px solid #FF3B3C ;
  margin: 20px 0;
  background-color: #FF3B3C ;
  color: #ffffff;
}
