@keyframes pound {
  50% {
    transform: scale(1.1);
  }
}
.text-overflow {
  display: block;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a:hover {
  text-decoration: none;
}
.home_main_left {
  width: 248px;
  color: #444444;
  margin-top: 20px;
}
.home_main_left .left_part {
  width: 246px;
  border: 1px solid #dbdbdb;
  margin-bottom: 5px;
}
.home_main_left a:hover {
  text-decoration: none;
}
.home_main_left ul li {
  width: 188px;
  padding: 0px 29px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
.home_main_left ul li a {
  width: 188px;
  display: inline-block;
  color: #444444;
}
.home_main_left ul .selected {
  background-color: #ff3b3c;
}
.home_main_left ul .selected a {
  color: #ffffff;
}
.home_main_left ul .unselected {
  background: none;
}
.home_main_left ul .part_title {
  width: 188px;
  margin: 0 29px 10px;
  padding: 10px 0;
  font-size: 18px;
  border-bottom: 1px solid #dbdbdb;
}
.home_main_left ul .part_title_2 {
  width: 188px;
  margin: 0 29px;
  padding: 10px 0;
  font-size: 18px;
}
.home_main_left ul .part_title_2 a {
  color: #444444;
}
.home_body {
  width: 1300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.home_body .home_main .home_main_right {
  width: 1032px;
  margin-top: 20px;
}
.home_body .home_main .home_main_right .user_home_header {
  width: 1030px;
  margin-bottom: 20px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  height: 148px;
}
.home_body .home_main .home_main_right .user_home_header .user_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 34px 30px;
  overflow: hidden;
}
.home_body .home_main .home_main_right .user_home_header .user_img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.home_body .home_main .home_main_right .user_home_header .user_name {
  height: 80px;
  margin: 44px 0 24px 0;
  color: #444444;
}
.home_body .home_main .home_main_right .user_home_header .user_name .name {
  font-size: 18px;
  position: relative;
}
.home_body .home_main .home_main_right .user_home_header .user_name .female {
  width: 11px;
  height: 14px;
  position: absolute;
  top: 8px;
  right: -15px;
  background: url("../images/female.png") no-repeat center center;
}
.home_body .home_main .home_main_right .user_home_header .user_name .male {
  width: 11px;
  height: 14px;
  position: absolute;
  top: 8px;
  right: -15px;
  background: url("../images/male.png") no-repeat center center;
}
.home_body .home_main .home_main_right .user_home_header .user_name .time {
  font-size: 14px;
  color: #666666;
}
.home_body .home_main .home_main_right .user_home_header .user_edit {
  height: 28px;
  width: 120px;
  padding-left: 30px;
  line-height: 28px;
  cursor: pointer;
  background: url("../images/user_show.png") no-repeat 0 center;
}
.home_body .home_main .home_main_right .user_home_header p {
  width: 160px;
  margin: 0 auto;
  text-align: center;
}
.home_body .home_main .home_main_right .user_home_header .checkins {
  width: 160px;
  height: 120px;
  float: right;
  background-color: #fe4c4c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 15px 30px 0 15px;
  color: #ffffff;
  overflow: hidden;
}
.home_body .home_main .home_main_right .user_home_header .checkins button {
  width: 160px;
  height: 70px;
  padding-left: 50px;
  border: none;
  background: url("../images/date_bg1.png") no-repeat 45px center;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
}
.home_body .home_main .home_main_right .user_home_header .checkins .count_checkins {
  width: 120px;
  padding-left: 40px;
  text-align: left;
  background: url("../images/count_checkins.png") no-repeat 25px center;
}
.home_body .home_main .home_main_right .user_home_header .checkins .tips {
  height: 28px;
  line-height: 28px;
  background-color: #ff6262;
  margin-top: 5px;
}
.home_body .home_main .home_main_right .user_home_header .hongbao {
  width: 193px;
  height: 121px;
  float: right;
  background: url("../images/hongbao_bg.png");
  margin-top: 15px;
  color: #fffba5;
  text-shadow: 0px 2px 1px #444444;
}
.home_body .home_main .home_main_right .user_home_header .hongbao .hongbao_h {
  margin-top: 5px;
  font-size: 14px;
}
.home_body .home_main .home_main_right .user_home_header .hongbao p {
  margin-top: 18px;
}
.home_body .home_main .home_main_right .user_home_header .hongbao p span {
  font-size: 24px;
}
.home_body .home_main .home_main_right .user_home_header .hongbao .hongbao_b span {
  font-size: 12px;
}
.home_body .home_main .home_main_right #goods_waterfall {
  width: 1015px;
  padding: 20px 0 20px 15px;
  background-color: #ffffff;
  position: relative;
  margin-top: -5px;
  border: 1px solid #888888;
}
.home_body .home_main .home_main_right #goods_waterfall .waterfall_class {
  width: 292px;
  margin: 0 20px;
  float: left;
}
.home_body .home_main .home_main_right #goods_waterfall .waterfall_class .goods_little_block {
  width: 292px;
  height: auto;
  margin: 10px 0;
  float: left;
  background-color: #ffffff;
  position: relative;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
}
.home_body .home_main .home_main_right #goods_waterfall .waterfall_class .goods_little_block a:hover {
  text-decoration: none;
}
.home_body .home_main .home_main_right #goods_waterfall .waterfall_class .goods_little_block .goods_little_block_img {
  width: 290px;
  position: relative;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
}
.home_body .home_main .home_main_right #goods_waterfall .waterfall_class .goods_little_block .goods_little_block_img img {
  width: 290px;
  height: auto;
}
.home_body .home_main .home_main_right #goods_waterfall .waterfall_class .goods_little_block .goods_little_block_img p {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 270px;
  padding: 0 10px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  display: block;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #000000;
  opacity: 0.5;
  display: none;
}
.home_body .home_main .home_main_right #goods_waterfall .waterfall_class .goods_little_block .goods_in_btn {
  display: block;
  float: left;
  width: 130px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 10px 0 20px 0;
}
.home_body .home_main .home_main_right #goods_waterfall .waterfall_class .goods_little_block .goods_in_btn span {
  color: #ff3b3c;
  font-size: 18px;
  padding: 0 5px;
}
.home_body .home_main .home_main_right #goods_waterfall .waterfall_class .goods_little_block:hover {
  box-shadow: 0px 0px 12px 10px #e1e1e1;
}
.home_body .home_main .home_main_right #loading {
  width: 1020px;
  height: 50px;
  background: url("../images/thumb.gif") no-repeat center center;
}
.home_body .home_main .home_main_right #loading img {
  width: 20%;
  margin-left: 40%;
}
.collection {
  height: 35px;
  padding-right: 30px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 38px;
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 5px;
}
.collection {
  position: relative;
}
.collection input {
  left: -9999px;
  position: absolute;
}
.cancel {
  background: url("../images/cancel2.png") no-repeat right center;
}
.bookmarked {
  background: url("../images/bookmarked2.png") no-repeat right center;
}
