@-o-keyframes pound {
  50% {
    -o-transform: scale(1.1);
  }
}
@-moz-keyframes pound {
  50% {
    -moz-transform: scale(1.1);
  }
}
@-ms-keyframes pound {
  50% {
    -ms-transform: scale(1.1);
  }
}
@-webkit-keyframes pound {
  50% {
    -webkit-transform: scale(1.1);
  }
}
@keyframes pound {
  50% {
    transform: scale(1.1);
  }
}
.main_visual {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.main_visual .flicking_con {
  display: none;
  position: absolute;
  bottom: 2em;
  right: 6%;
  z-index: 9;
}
.main_visual .flicking_con a {
  float: left;
  width: 6px;
  height: 6px;
  margin: 0.2em;
  padding: 0;
  border-radius: 6px;
  border: 1px solid #FF3B3C ;
  display: block;
  text-indent: -1000px;
}
.main_visual .flicking_con .on {
  border: 1px solid #FF3B3C ;
  background-color: #FF3B3C ;
}
.main_visual .main_image {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  left: 0;
}
.main_visual .main_image ul {
  width: 9999px;
  height: 500px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.main_visual .main_image ul li {
  float: left;
  width: 100%;
  height: 500px;
}
.main_visual .main_image ul li a {
  display: block;
  width: 100%;
  height: 500px;
}
.main_visual .main_image #btn_prev {
  z-index: 11111;
  position: absolute;
  width: 73px!important;
  height: 74px!important;
  top: 50%;
  margin-top: -37px;
  left: 5%;
  background: url("../images/ck-prev.png") no-repeat;
}
.main_visual .main_image #btn_next {
  z-index: 11111;
  position: absolute;
  width: 73px!important;
  height: 74px!important;
  top: 50%;
  margin-top: -37px;
  right: 5%;
  background: url("../images/ck-next.png") no-repeat;
}
.text-overflow {
  display: block;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.index_body {
  width: 100%;
}
.index_body .index_main {
  width: 1296px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 0 2px;
}
.index_body .index_main .classify_block {
  position: relative;
  top: -32px;
}
.index_body .index_main .classify_block a:hover {
  text-decoration: none;
}
.index_body .index_main .classify_block .classify {
  width: 300px;
  height: 410px;
  float: left;
  background-color: #ffffff;
  margin: 0 12px;
}
.index_body .index_main .classify_block .classify .classify_title {
  width: 300px;
  height: 30px;
  font-size: 28px;
  color: #595959;
  padding: 30px 0;
  text-align: center;
}
.index_body .index_main .classify_block .classify .classify_img {
  width: 190px;
  height: 190px;
}
.index_body .index_main .classify_block .classify .classify_img img {
  width: 190px;
  height: 190px;
  border-radius: 100%;
}
.index_body .index_main .classify_block .classify .classify_count .count_title {
  padding-top: 15px;
  font-size: 18px;
  color: #F2262C;
  text-align: center;
  line-height: 30px;
}
.index_body .index_main .classify_block .classify .classify_count .count_num {
  text-align: center;
  line-height: 30px;
  color: #595959;
}
.index_body .index_main .classify_block .classify .classify_turn {
  width: 17px;
  height: 12px;
  margin-top: 10px;
  background: url("../images/turn_bg.png") no-repeat scroll center center;
}
.index_body .index_main .classify_block .classify .classify_turn a {
  display: block;
  width: 100%;
  height: 12px;
  text-indent: 900px;
  overflow: hidden;
}
.index_body .index_main .classify_block .classify:hover {
  box-shadow: 8px 8px 8px 2px #999999;
}
.index_body .index_main .goods_block {
  width: 1244px;
  height: auto;
  margin: 0 13px 32px 13px;
  padding: 13px;
  background-color: #ffffff;
}
.index_body .index_main .goods_block .goods_block_title {
  margin: 5px 10px -5px 10px;
  font-size: 18px;
  color: #1F1F1F;
  font-weight: bold;
}
.index_body .index_main .goods_block .goods_block_title i {
  color: #F2262C;
  font-weight: bold;
}
.index_body .index_main .goods_little_block {
  width: 292px;
  height: auto;
  margin: 17px 9px;
  background-color: #ffffff;
  float: left;
  position: relative;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
  /*.goods_little_block_img:hover{
        p{
          display: block;
        }
      }*/
}
.index_body .index_main .goods_little_block a:hover {
  text-decoration: none;
}
.index_body .index_main .goods_little_block .goods_little_block_img {
  width: 290px;
  position: relative;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
}
.index_body .index_main .goods_little_block .goods_little_block_img img {
  width: 290px;
  height: auto;
  float: left;
}
.index_body .index_main .goods_little_block .goods_little_block_img p {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 270px;
  padding: 0 10px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  display: block;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #000000;
  opacity: 0.5;
  display: none;
}
.index_body .index_main .goods_little_block .goods_in_btn {
  display: block;
  float: left;
  width: 130px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 10px 0 20px 0;
}
.index_body .index_main .goods_little_block .goods_in_btn span {
  color: #ff3b3c;
  font-size: 18px;
  padding: 0 5px;
}
.index_body .index_main .goods_little_block .goods_little_block_bar {
  width: 140px;
  height: 30px;
  float: left;
  margin-top: 10px;
  position: relative;
}
.index_body .index_main .goods_little_block .goods_little_block_bar .like {
  width: 50px;
  height: 30px;
  cursor: pointer;
  float: right;
}
.index_body .index_main .goods_little_block .goods_little_block_bar .like img {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 22px;
}
.index_body .index_main .goods_little_block .goods_little_block_bar .like:hover img {
  -webkit-animation: pound .4s infinite;
  -moz-animation: pound .4s infinite;
  -o-animation: pound .4s infinite;
  -ms-animation: pound .4s infinite;
  animation: pound .4s infinite;
}
.index_body .index_main .goods_little_block .goods_little_block_bar p {
  width: 90px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: right;
  float: right;
}
.index_body .index_main .goods_little_block .goods_little_block_bar p span {
  color: #ff3b3c;
  padding: 0 5px;
}
.index_body .index_main .goods_little_block:hover {
  box-shadow: 0px 0px 12px 10px #e1e1e1;
}
.index_body .index_main .goods_block_hot {
  width: 1244px;
  height: auto;
  margin: 0 13px 32px 13px;
  padding: 13px;
  position: relative;
  background-color: #ffffff;
}
.index_body .index_main .goods_block_hot .goods_block_title {
  width: 1244px;
  height: 20px;
  margin: 5px 10px 10px 10px;
  font-size: 18px;
  color: #1F1F1F;
  font-weight: bold;
  position: relative;
}
.index_body .index_main .goods_block_hot .goods_block_title i {
  color: #F2262C;
  font-weight: bold;
}
.index_body #goods_waterfall {
  position: relative;
}
.index_body #goods_waterfall .waterfall_class {
  width: 290px;
  margin: 0 10px;
  float: left;
}
.index_body #goods_waterfall .waterfall_class .goods_little_block {
  margin: 10px 0;
  float: left;
}
.index_body #loading {
  width: 1244px;
  height: 50px;
  background: url("../images/thumb.gif") no-repeat center center;
}
.index_body #loading img {
  width: 20%;
  margin-left: 40%;
}
