.pay_body {
  width: 1280px;
  padding: 10px;
  color: #333333;
  margin: 10px auto 20px auto;
  background-color: #ffffff;
}
.pay_body .pay_title {
  width: 1264px;
  border-bottom: 1px solid #dbdbdb;
  margin: 10px auto;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  padding-bottom: 10px;
}
.pay_body .pay_block {
  width: 100%;
  margin-bottom: 40px;
}
.pay_body .pay_block .address .address_main,
.pay_body .pay_block .address .edit_address_main {
  width: 300px;
  height: 190px;
  border: 1px solid #dbdbdb;
  float: left;
  margin: 9px;
  cursor: pointer;
}
.pay_body .pay_block .address .address_main .address_delete_btn,
.pay_body .pay_block .address .edit_address_main .address_delete_btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
}
.pay_body .pay_block .address .address_main .address_delete_btn:hover,
.pay_body .pay_block .address .edit_address_main .address_delete_btn:hover {
  color: #FF3B3C;
}
.pay_body .pay_block .address .address_main form label,
.pay_body .pay_block .address .edit_address_main form label {
  float: left;
}
.pay_body .pay_block .address .address_main form input,
.pay_body .pay_block .address .edit_address_main form input {
  float: left;
  height: 24px;
  border-radius: 4px;
}
.pay_body .pay_block .address .address_main form .address_big span,
.pay_body .pay_block .address .edit_address_main form .address_big span {
  margin-right: 0px;
}
.pay_body .pay_block .address .address_main form .address_big select,
.pay_body .pay_block .address .edit_address_main form .address_big select {
  width: 82px;
}
.pay_body .pay_block .address .address_main form #telephone,
.pay_body .pay_block .address .edit_address_main form #telephone {
  width: 200px;
  padding: 0 7px;
  border: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
.pay_body .pay_block .address .address_main form #address_detail,
.pay_body .pay_block .address .edit_address_main form #address_detail {
  width: 264px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 0;
}
.pay_body .pay_block .address .address_main form #zip_code,
.pay_body .pay_block .address .edit_address_main form #zip_code {
  width: 90px;
  padding: 0 5px;
  border: 1px solid #dbdbdb;
}
.pay_body .pay_block .address .address_main form #address_submit,
.pay_body .pay_block .address .edit_address_main form #address_submit {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 40px;
  height: 20px;
  background-color: #FF3B3C;
  border-radius: 4px;
  color: #ffffff;
  line-height: 12px;
  text-align: center;
}
.pay_body .pay_block .address .address_main .name,
.pay_body .pay_block .address .edit_address_main .name {
  width: 264px;
  margin: 10px 18px;
  line-height: 24px;
  border-bottom: 1px solid #dbdbdb;
}
.pay_body .pay_block .address .address_main .personal,
.pay_body .pay_block .address .edit_address_main .personal {
  width: 264px;
  margin: 0 18px;
  line-height: 24px;
}
.pay_body .pay_block .address .address_main .personal .address_big span select,
.pay_body .pay_block .address .edit_address_main .personal .address_big span select {
  width: 85px;
}
.pay_body .pay_block .address .address_main .personal .address_detail,
.pay_body .pay_block .address .edit_address_main .personal .address_detail {
  width: 100%;
}
.pay_body .pay_block .address .address_main .personal .zip_code,
.pay_body .pay_block .address .edit_address_main .personal .zip_code {
  width: 100%;
}
.pay_body .pay_block .address .address_main .personal #address_submit,
.pay_body .pay_block .address .edit_address_main .personal #address_submit {
  cursor: pointer;
  float: right;
}
.pay_body .pay_block .address .address_main .edit_address,
.pay_body .pay_block .address .edit_address_main .edit_address,
.pay_body .pay_block .address .address_main .edit_default,
.pay_body .pay_block .address .edit_address_main .edit_default {
  width: 120px;
  height: 30px;
  border: none;
  float: right;
  background-color: #ff3b3c;
  color: #ffffff;
  margin-left: 5px;
  position: absolute;
  top: 195px;
}
.pay_body .pay_block .address .address_main .edit_address,
.pay_body .pay_block .address .edit_address_main .edit_address {
  right: 124px;
}
.pay_body .pay_block .address .address_main .edit_default,
.pay_body .pay_block .address .edit_address_main .edit_default {
  right: -1px;
}
.pay_body .pay_block .address .address_main {
  position: relative;
}
.pay_body .pay_block .address .edit_address_main {
  position: absolute;
  top: -21px;
  left: -21px;
  display: none;
  background: #ffffff;
}
.pay_body .pay_block .address .default .edit_default,
.pay_body .pay_block .address .default .edit_address {
  display: none;
}
.pay_body .pay_block .address .selected {
  border: 1px solid #FF3B3C;
}
.pay_body .pay_block .address .unselected {
  border: 1px solid #dbdbdb;
}
.pay_body .pay_block .address .add_address {
  width: 300px;
  height: 190px;
  border: 1px solid #dbdbdb;
  float: left;
  margin: 9px;
  cursor: pointer;
}
.pay_body .pay_block .address .add_address p {
  width: 100%;
  text-align: center;
  color: #8c8c8c;
}
.pay_body .pay_block .address .add_address .img {
  font-size: 46px;
  line-height: 36px;
  margin-top: 60px;
}
.pay_body .pay_block .style_information div {
  width: 185px;
  height: 51px;
  float: left;
  margin: 10px;
  border: 1px solid #dbdbdb;
  text-align: center;
  line-height: 51px;
  font-size: 14px;
  cursor: pointer;
}
.pay_body .pay_block .style_information .selected {
  border: 1px solid #FF3B3C;
}
.pay_body .pay_block .style_information .unselected {
  border: 1px solid #dbdbdb;
}
.pay_body .pay {
  float: right;
}
.pay_body .pay .have_select {
  font-size: 14px;
  margin-left: 10px;
}
.pay_body .pay .have_select i {
  padding: 0 40px;
  color: #ff3b3c;
}
.pay_body .pay .price_total {
  font-size: 14px;
  margin: 15px 10px;
}
.pay_body .pay .price_total span {
  font-size: 24px;
  padding: 0 10px;
  color: #ff3b3c;
}
.pay_body .pay .settle_btn {
  font-size: 14px;
  width: 160px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  background-color: #FF3B3C;
  color: #ffffff;
  cursor: pointer;
}
