<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
		   http://www.springframework.org/schema/tx
		   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<!--******************************************************************************************************************* -->
	<!--b. 启动触发器的配置：开始 -->
	<bean name="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- <ref bean="dgProductJobTrigger" /> -->
				<ref bean="customerSyncJobTrigger" />
				<!--<ref bean="sendMailServiceImplTrigger1" />-->
				<!--<ref bean="sendMailServiceImplTrigger2" />-->
				<!--<ref bean="sendMailServiceImplTrigger3" />-->
			</list>
		</property>
	</bean>


	<!--******************************************************************************************************************* -->
	<bean id="customerSyncJob" class="com.qipeipu.crm.quartz.CustomerSyncJob" />
	<bean id="customerSyncJobDtl"	class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="customerSyncJob" />
		<property name="targetMethod" value="work" />
	</bean>
	<bean id="customerSyncJobTrigger"	class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="customerSyncJobDtl" />
		<property name="cronExpression">
			  <!--  <value>0 0/5 * * * ?</value> 每分钟跑一次 -->
			 <value>0 0 1 * * ?</value> <!-- 每天1点触发一次 -->
		</property>
	</bean>

	<!--<bean id="sendMailServiceImpl" class="com.qipeipu.crm.service.SendMail.SendMailServiceImpl" />-->
	<!--<bean id="sendMailServiceImplDtl"	class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
		<!--<property name="targetObject" ref="sendMailServiceImpl" />-->
		<!--<property name="targetMethod" value="work" />-->
	<!--</bean>-->
	<!--<bean id="sendMailServiceImplTrigger1"	class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
		<!--<property name="jobDetail" ref="sendMailServiceImplDtl" />-->
		<!--<property name="cronExpression">-->
			<!--<value>0 15 18 * * ?</value> &lt;!&ndash; 每天6点15分触发一次 &ndash;&gt;-->
		<!--</property>-->
	<!--</bean>-->
	<!--<bean id="sendMailServiceImplTrigger2"	class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
		<!--<property name="jobDetail" ref="sendMailServiceImplDtl" />-->
		<!--<property name="cronExpression">-->
			<!--<value>0 0 15,19 * * ?</value> &lt;!&ndash; 每天3、7点触发一次 &ndash;&gt;-->
		<!--</property>-->
	<!--</bean>-->
	<!--<bean id="sendMailServiceImplTrigger3"	class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
		<!--<property name="jobDetail" ref="sendMailServiceImplDtl" />-->
		<!--<property name="cronExpression">-->
			<!--<value>0 30 17 * * ?</value> &lt;!&ndash; 每天5：30点触发一次 &ndash;&gt;-->
		<!--</property>-->
	<!--</bean>-->
	<!--******************************************************************************************************************* -->
</beans>