.ck-slide
    ul.ck-slide-wrapper
        li.current: a(href='#',target='_blank',style='background:url(images/examples/ad_1.jpg) no-repeat scroll center center;')
        li.normal.hide: a(href='#',target='_blank',style='background:url(images/examples/ad_2.jpg) no-repeat scroll center center;')
        li.normal.hide: a(href='#',target='_blank',style='background:url(images/examples/ad_3.jpg) no-repeat scroll center center;')

    .arrow
        a(href='javascript:;',class='ctrl-slide ck-prev')
        a(href='javascript:;',class='ctrl-slide ck-next')