#footer
    .about-us
        a(href='#') 联系我们
        span &nbsp; | &nbsp;
        a(href='#') 关于我们
        span &nbsp; | &nbsp;
        a(href='#') 帮助中心
        span &nbsp; | &nbsp;
        a(href='#') 合作说明
        span &nbsp; | &nbsp;
        a(href='#') 版权说明
    .about-us &copy; 2014 广州早上好网络科技有限公司
        span &nbsp; &nbsp;
        a(href="http://www.miibeian.gov.cn/" target="_blank") 粤ICP备14049451号-1