#header
    .header-top
        .logo
            a(href='index.html',title='36-37早上好时尚商城')
                img(src='images/logo_header.png',alt='')
        .header-right
            .telephone 4006-4888-00
            .user
                .shopping-cart.fl
                    a.cart_logo(href='cart.html')
                        img(src='images/icon/shopping_cart_icon2.png',alt='')
                        i: span 10
                    .popup_cart.js-over-show
                        .cart_cover_left
                        .cart_cover
                        .cart_wrap
                            .cart_show
                                .cart_show_good
                                    - for(var i=0; i<4; i++)
                                        .good
                                            .good_left.fl: a(href='detail.html',title='',target='_blank'): img(src='images/examples/good_detail_img.png',alt='')
                                            .good_right.fr
                                                .right_top
                                                    a(href='detail.html',title='',target='_blank') 新款时尚流行圆头拉链皮革拼接磨砂皮粗高跟低筒靴hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
                                                button 删除
                                                .right_bottom
                                                    .good_count.fl 1件
                                                    .good_size 尺码：<span>36</span>
                                                    .good_price.fr <i>¥</i>599.00
                                    .good
                                        p 您的购物车是空的，
                                            span: a(href='index.html') 马上去购物>>
                            .cart_arrow
                                a(href='javascript:;',class='ctrl-slide cart_up')
                                a(href='javascript:;',class='ctrl-slide cart_down')
                            .cart_bottom
                                .good_price_total
                                    span.i 总价：¥
                                    span 9999.00
                                .to-settle: a(href='cart.html') 去购物车结算
                - if(user)
                    .register_btn.fr: a(href='') 退出
                    .login_btn.fr: a(href='home.html') 个人中心
                - else
                    .register_btn.fr: a(href='reg1.html') 注册
                    .login_btn.fr: a(href='login.html') 登录
    #nav
        ul#main-menu.fl
            li: a(href='index.html',title='') 首页
            li: a(href='list.html',title='') 鞋靴
            li: a(href='list2.html',title='') 服装
            li: a(href='list3.html',title='') 箱包
            li: a(href='list4.html',title='') 手表
        .search.fr
            form(action='/search/', method='get')
                input#searchBtn(type='submit',value='')
                input#searchKeyword(placeholder='搜索',name='k')
                button 确定