.main_visual
    .flicking_con
        a(href='#') 1
        a(href='#') 2
        a(href='#') 3
    .main_image
        ul
            li: a(href='#',target='_blank',style='background:url(images/examples/ad_1.jpg) no-repeat scroll center center;')
            li: a(href='#',target='_blank',style='background:url(images/examples/ad_2.jpg) no-repeat scroll center center;')
            li: a(href='#',target='_blank',style='background:url(images/examples/ad_3.jpg) no-repeat scroll center center;')
        a#btn_prev(href='javascript:;')
        a#btn_next(href='javascript:;')