#sec_classify
    .sec_classify
        .classify
            ul.classify_sex
                li.classify_female.selected_t: a(href='list.html',title='') 流行女鞋

                li.classify_male: a(href='list.html',title='') 流行男鞋
        .classify
            h4 种类：
            ul
                each item in ['高跟鞋','坡跟鞋','内增高','单鞋','休闲鞋','凉鞋','女靴','雪地靴','筒靴']
                    li: a(href='list.html',title='') #{item}
        .classify_color
            h4 颜色：
            ul
                li.selected 土色
                    a.classify_color_1(href='list.html',title='')
                li 纯白
                    a.classify_color_2(href='list.html',title='')
                li 酒红
                    a.classify_color_3(href='list.html',title='')
                li 黄色
                    a.classify_color_4(href='list.html',title='')
                li 绿色
                    a.classify_color_5(href='list.html',title='')
                li 橘色
                    a.classify_color_6(href='list.html',title='')
                li 间隔条
                    a.classify_color_7(href='list.html',title='')
                li 纯黑
                    a.classify_color_8(href='list.html',title='')
                li 褐色
                    a.classify_color_9(href='list.html',title='')
                li 浅黑
                    a.classify_color_10(href='list.html',title='')
                li 浅土
                    a.classify_color_11(href='list.html',title='')
                li 浅灰
                    a.classify_color_12(href='list.html',title='')
                li 深蓝
                    a.classify_color_13(href='list.html',title='')
                li 浅红
                    a.classify_color_14(href='list.html',title='')
                li 紫色
                    a.classify_color_15(href='list.html',title='')
        .classify
            h4 材质质材质：
            ul
                li.selected: a(href='list.html',title='') 牛皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') PU革
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') PU革
        .classify.hide
            h4 材质：
            ul
                li.selected: a(href='list.html',title='') 牛皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') PU革
        .classify.hide
            h4 材质：
            ul
                li: a(href='list.html',title='') 牛皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') PU革
        .classify.hide
            h4 材质：
            ul
                li.selected: a(href='list.html',title='') 牛皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') PU革
        .classify.hide
            h4 材质：
            ul
                li: a(href='list.html',title='') 牛皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') PU革
        .classify.hide
            h4 材质：
            ul
                li: a(href='list.html',title='') 牛皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') PU革
        .classify.hide
            h4 材质：
            ul
                li.selected: a(href='list.html',title='') 牛皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') PU革
        .classify.hide
            h4 材质：
            ul
                li: a(href='list.html',title='') 牛皮
                li: a(href='list.html',title='') 猪皮
                li: a(href='list.html',title='') PU革
    .classify_down
        .down_button(data-names='呵呵')