.swiper-container
    .swiper-wapper
        .swiper-slide: a(href='#',target='_blank',style='background:url(images/examples/ad_1.jpg) no-repeat scroll center center;')
        .swiper-slide: a(href='#',target='_blank',style='background:url(images/examples/ad_2.jpg) no-repeat scroll center center;')
        .swiper-slide: a(href='#',target='_blank',style='background:url(images/examples/ad_3.jpg) no-repeat scroll center center;')
    .swiper-pagination
    .swiper-button-next
    .swiper-button-prev
