extends layout
block styleblock
    link(rel='stylesheet',href='css/change_password.css')
block content
    include _header
    #change_password_body
        .chang_title 个人中心 &nbsp;> &nbsp;
            span 重设你的密码
            span.change_logout.fr 返回上一页
        .reg_main
            #change_success 修改密码成功，现在就<a>登陆</a>
            form(id='signupForm',method='post',action='')
                .form_title 请重设您的账号密码
                    span (6-20位大小写字母或数字)
                .center_wrap
                    label.one 旧密码：
                    input(type='password',class='{required:true,rangelength:[6,20]}')
                    p.oldpassword 原密码错误
                .center_wrap
                    label.one 新密码：
                    input(id='new_password',name='new_password',type='password',class='{required:true,rangelength:[6,20]}')
                .center_wrap
                    label.one 确认新密码：
                    input(id='confirm_new_password',name='confirm_new_password',type='password',class='{required:true,equalTo:"#new_password"}')
                input.submit.reg_submit-btn(type='submit',value='提交')
    include _footer
block jsblock
    script(src='js/jquery.validate.js')
    script(src='js/jquery.metadata.js')
    script(src='js/resgin.js')