doctype html
html
    head
        meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
        link(rel='stylesheet',href='css/reset.css')
        link(rel='stylesheet',href='css/common.css')
        block styleblock

        title 早上好时尚商城

    body
        block content
        include _scrolltop

        script(src='js/jquery.js')
        script(src='js/cart_slide.js')
        script(src='js/common.js')
        script(src='js/jquery.scrollUp.min.js')
        block jsblock