extends layout
block styleblock
    link(rel='stylesheet',href='css/order_detail.css')
    link(rel='stylesheet',href='css/jquery.mCustomScrollbar.min.css')
block content
    include _header
    .home_body
        .home_main
            .home_main_left.fl
                .left_part
                    ul
                        .part_title 个人中心
                        li: a(href='home.html',title='') 我的账户
                        li: a(href='home_favorite.html',title='') 我的徽章
                        li: a(href='home_like.html',title='') 我关注的商品
                        li: a(href='home_seen.html',title='') 我看过的商品
                        li: a(href='home_favorite.html',title='') 我收藏的商品
                .left_part
                    ul
                        .part_title 我的订单
                        li.selected: a(href='home_orders.html',title='') 所有订单
                        li: a(href='home_address.html',title='') 收货地址管理
                .left_part
                    ul
                        .part_title_2: a(href='',title='') 买家秀
                .left_part
                    ul
                        .part_title 我的优惠
                        li: a(href='home_address.html',title='') 我的红包
                        li: a(href='change_password.html',title='') 我的积分
                .left_part
                    ul
                        .part_title_2: a(href='cart.html',title='') 购物车
                .left_part
                    ul
                        .part_title 安全中心
                        li: a(href='home_address.html',title='') 身份认证
                        li: a(href='change_password.html',title='') 修改密码
                        li: a(href='change_password.html',title='') 修改邮箱
                        li: a(href='change_password.html',title='') 手机绑定
            .home_main_right.fr
                .user_home_header
                    .user_img.fl
                        img(src='images/personal_head.png')
                    .user_name.fl
                        .name 萌萌哒小妹纸，<span>下午好~</span>！
                            i.female
                            i.male
                        span#phone 13912348888
                        .user_edit <span>22</span>人赞了你的晒单秀
                    .checkins
                        button 签到
                        p.count_checkins 你已连续<span>20</span>天签到
                        p.tips 连续签到，更多红包！
                    .hongbao
                        p.hongbao_h 收到的红包
                        p <span>12</span>元
                        p.hongbao_b 亲，有<span>10</span>元红包即将到期
                .completed.user_home_list
                    .orders_back
                        a(href='home_orders.html',title='') 返回所有订单
                        p.total_price 总额：<span>4738.00</span>元
                        p 商品件数：<span>6</span>件
                    .list_title
                        span 2015-04-22
                        label 订单号：
                            span 929242778496691
                        .orders_manage
                            button 对整个订单进行售后服务
                            p 状态：<i>交易成功</i>
                    ul.thead
                        li.td1 商品
                        li.td2 材质
                        li.td3 颜色
                        li.td4 尺码
                        li.td5 单价（元）
                        li.td6 数量（件）
                        li.td7 小计（元）
                    - for(var i=0; i<2; i++)
                        ul.tbody
                            li.td1
                                p 商品编号：
                                    span ABCEDFG1234567
                                a(href='detail.html',title='',target='_blank') 新款时尚流行圆头拉链皮革拼接磨砂皮女鞋hhhhhh
                                a.img(href='detail.html',title='',target='_blank'): img(src='images/examples/good_block_img.png',alt='')
                            li.td2 压花水牛皮
                            li.td3 黑色
                            li.td4 245/39
                            li.td5 599.00
                            li.td6 1
                            li.td7 599.00
                            button 对这个商品进行售后服务
                    .tfoot
                        p 商品件数：<span>6</span>件
                        p.total_price 应付总额：<span>4738.00</span>元
                    .delivery_address
                        h4 收货地址
                        ul
                            li 姓名：<span>张三</span>
                            li 手机：<span id="phone2">13631365214</span>
                            li 所在地区：<span>广东省</span><span>广州市</span><span>白云区</span>
                            li 详细地址：<span>广花一路633号平沙国际商务中心502室</span>
                            li 邮编：（<span>510440</span>）
                p.tip <label>提示：</label>如果对订单有疑问或申请退换货，请点击上面的”对整个订单进行售后服务“后在下方对话框中说明问题，如果对单个商品有疑问或申请退换货，请点击上面的”对这个商品进行售后服务“后在下方对话框中说明问题。在非工作日我们的回复可能会有延迟，请谅解！
                .consultation
                    .consultation_title 在线咨询
                    - for(var i=0; i<1; i++)
                        ul.tbody
                            li.td1
                                p 商品编号：
                                    span ABCEDFG1234567
                                a(href='detail.html',title='',target='_blank') 新款时尚流行圆头拉链皮革拼接磨砂皮女鞋hhhhhh
                                a.img(href='detail.html',title='',target='_blank'): img(src='images/examples/good_block_img.png',alt='')
                            li.td2 压花水牛皮
                            li.td3 黑色
                            li.td4 245/39
                            li.td5 599.00
                            li.td6 1
                            li.td7 599.00
                    .chat_thread
                        ul
                            li.customer
                                img.header_img(src='images/avatar.png',alt='')
                                .chat_content
                                    p 我买的鞋子有问题，可以申请退货么？
                                    br
                                    label 2015-04-30
                                        span 10:38

                            li.custom_service
                                img.header_img(src='images/custom_server.png',alt='')
                                .chat_content
                                    p 能不能详细地说明一下原因？
                                    br
                                    label 系统客服：
                                        span 2015-04-30
                                            span 10:38

                            li.customer
                                img.header_img(src='images/avatar.png',alt='')
                                .chat_content
                                    p
                                        img(src='images/aaa.png',alt='')
                                    br
                                    label 2015-04-30
                                        span 10:38
                            li.customer
                                img.header_img(src='images/avatar.png',alt='')
                                .chat_content
                                    p 我买的鞋子有问题，可以申请退货么？我买的鞋子有问题，可以申请退货么？我买的鞋子有问题，可以申请退货么？我买的鞋子有问题，可以申请退货么？
                                    br
                                    label 2015-04-30
                                        span 10:38

                            li.custom_service
                                img.header_img(src='images/custom_server.png',alt='')
                                .chat_content
                                    p 能不能详细地说明一下原因？
                                    br
                                    label 系统客服：
                                        span 2015-04-30
                                            span 10:38

                            li.customer
                                img.header_img(src='images/avatar.png',alt='')
                                .chat_content
                                    p
                                        img(src='images/aaa.png',alt='')
                                    br
                                    label 2015-04-30
                                        span 10:38

                        form(action='', method='post')
                            textarea(rows='3',cols='20',value placeholder='请输入消息内容...')
                            input.submit(type='submit',value='发送')
                            .a_upload(href='javascript;') 上传图片
                                input(type='file',value='上传图片')

    include _footer
block jsblock
    script(src='js/home.js')
    script(src='js/jquery.mCustomScrollbar.concat.min.js')
    script.
        $(".chat_thread ul").mCustomScrollbar({
            //setHeight:408,
            theme:"dark-3"
        });