extends layout
block styleblock
    link(rel='stylesheet',href='css/pay_fillin.css')
block content
    include _header
    .pay_body
        h4 填写并核对订单信息
        .pay_title 商品清单
            a.settle_btn(href='cart.html',title='') 返回购物车
        .pay_block
            table.cart_goods_title
                tbody.settle_goods
                    tr
                        td.td1
                            label.allselect.f_checkbox_normal.unchecked 全选
                                input(type='checkbox',name='',value='name')
                        td.td2 商品
                        td.td3 材质
                        td.td4 颜色
                        td.td5 尺码
                        td.td6 单价（元）
                        td.td7 数量
                        td.td8 小计（元）
                        td.td9 操作
            - for(var i=0; i<2; i++)
                table.cart_goods_body
                    tbody.settle_goods
                        tr
                            td.td1.goods_checkbox
                                label.f_checkbox_normal.unchecked
                                    input(class='allselect',type='checkbox',name='goodslist',value='9')
                            td.td2
                                p 商品编号：
                                    span ABCEDFG1234567
                                a(href='detail.html',title='',target='_blank') 新款时尚流行圆头拉链皮革拼接磨砂皮女鞋hhhhhh
                                a.img(href='detail.html',title=''): img(src='images/examples/good_block_img.png',alt='')
                            td.td3 压花水牛皮
                            td.td4 黑色
                            td.td5 245/39
                            td.td6 599.00
                            td.td7
                                input.cut(type='button',value='',name='')
                                input.text_box(type='text',value='1',name='')
                                input.add(type='button',value='',name='')
                            td.td8 599.00
                            td.td9
                                button.good_operation_btn 删除
        .pay_block
            .pay_title 收货人信息
            .address
                .address_main.default.selected
                    .address_delete_btn ×
                    .name 张三
                        span.default_address （默认收货地址）
                    .personal
                        .telephone 138****8888
                        .address_big
                            span 广东省
                            span 广州市
                            span 白云区
                        .address_detail 广花一路633号平沙国际商务中心502室
                        .zip_code (<span>510440</span>)
                    button.edit_default 设为默认收货地址
                    button.edit_address 编辑收货地址
                    .edit_address_main
                        .address_delete_btn ×
                        form(id='newaddress',method='post')
                            .name
                                label 收货人：
                                input(id='name',name='name')
                            .personal
                                label 手机号：
                                input(id='telephone',name='telephone')
                                .address_big
                                    span
                                        select.prov
                                            option 请选择
                                    span
                                        select.city
                                            option 请选择
                                    span
                                        select.dist
                                            option 请选择
                                input(id='address_detail',name='address_detail',value placeholder='详细地址：')
                                label 邮编：
                                input(id='zip_code',name='zip_code')
                                input(id='address_submit',type='submit',value='更新')
                .address_main
                    .address_delete_btn ×
                    .name 张三
                    .personal
                        .telephone 138****8888
                        .address_big
                            span 广东省
                            span 广州市
                            span 白云区
                        .address_detail 广花一路633号平沙国际商务中心502室中花胡搜id号我时候帝豪是电话覅哦收
                        .zip_code (<span>510440</span>)
                    button.edit_default 设为默认收货地址
                    button.edit_address 编辑收货地址
                    .edit_address_main
                        .address_delete_btn ×
                        form(id='newaddress',method='post')
                            .name
                                label 收货人：
                                input(id='name',name='name')
                            .personal
                                label 手机号：
                                input(id='telephone',name='telephone')
                                .address_big
                                    span
                                        select.prov
                                            option 请选择
                                    span
                                        select.city
                                            option 请选择
                                    span
                                        select.dist
                                            option 请选择
                                input(id='address_detail',name='address_detail',value placeholder='详细地址：')
                                label 邮编：
                                input(id='zip_code',name='zip_code')
                                input(id='address_submit',type='submit',value='更新')
                .address_main
                    .address_delete_btn ×
                    .name 张三
                    .personal
                        .telephone 138****8888
                        .address_big
                            span 广东省
                            span 广州市
                            span 白云区
                        .address_detail 广花一路633号平沙国际商务中心502室中花胡搜id号我时候帝豪是电话覅哦收
                        .zip_code (<span>510440</span>)
                    button.edit_default 设为默认收货地址
                    button.edit_address 编辑收货地址
                    .edit_address_main
                        .address_delete_btn ×
                        form(id='newaddress',method='post')
                            .name
                                label 收货人：
                                input(id='name',name='name')
                            .personal
                                label 手机号：
                                input(id='telephone',name='telephone')
                                .address_big
                                    span
                                        select.prov
                                            option 请选择
                                    span
                                        select.city
                                            option 请选择
                                    span
                                        select.dist
                                            option 请选择
                                input(id='address_detail',name='address_detail',value placeholder='详细地址：')
                                label 邮编：
                                input(id='zip_code',name='zip_code')
                                input(id='address_submit',type='submit',value='更新')
                .add_address
                    p.img +
                    p.text 增加新地址
                .new_address(style='display:none;')
                    .address_delete_btn ×
                    form(id='newaddress',method='post')
                        .name
                            label 收货人：
                            input(id='name',name='name')
                        .personal
                            label 手机号：
                            input(id='telephone',name='telephone')
                            .address_big
                                span
                                    select.prov
                                        option 请选择
                                span
                                    select.city
                                        option 请选择
                                span
                                    select.dist
                                        option 请选择
                            input(id='address_detail',name='address_detail',value placeholder='详细地址：')
                            label 邮编：
                            input(id='zip_code',name='zip_code')
                            input(id='address_submit',type='submit',value='确认')
        .pay_block
            .pay_title 物流选择
            .style_information
                .style1 顺丰
                .style1 申通
                .style1 圆通
        .pay_block
            .pay
                .have_select 商品件数：<i>8</i>件
                .price_total 应付总额：<span>4738</span>元
            .clear
            a.settle_btn(href='pay.html',title='') 下一步
            a.settle_btn(href='cart.html',title='') 返回购物车重新选货
    include _footer
block jsblock
    script(src='js/jquery.cityselect.js')
    script(src='js/pay_fillin.js')
    script(src='js/cart.js')