// 全局通用样式
// =====================================================

.clearfix {
  *zoom 1;
}
.clearfix:before {
  display:table;
  content:"";
}
.clearfix:after {
  display:table;
  content:"";
  clear:both;
}

.flex{
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-flow: row;
}
.hide,.hidden {
  display: none!important;
}
.show {
  display: block!important;
}
.show-inline{
  display: inline-block!important;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.active{
  background-color: #223338!important;
}
.tl{
  text-align: left!important;
}
.tc{
  text-align: center!important;
}
.tr{
  text-align: right!important;
}
.text-decoration-u{
  text-decoration: underline!important;
}
.text-decoration-n{
  text-decoration: none!important;
}
.ml10{
  margin-left: 10px!important;
}
.pl10{
  padding-left: 10px!important;
}
.pb10{
  padding-bottom: 10px!important;
}
.pr10{
  padding-right: 10px!important;
}
.pt10{
  padding-top: 10px!important;
}
.width30{
  width: 30%!important;
}
.width50{
  width: 50%!important;
}
.width80{
  width: 80%!important;
}
.width90{
  width: 90%!important;
}
.width100{
  width: 100%!important;
}
.color-blue{
  color: blue!important;
}
.color-red{
  color: #ff4f26!important;
}
.a-underline{
  text-decoration: underline!important;
}
.a-not-underline{
  text-decoration: none!important;
}


// 文字排版
//====================================
.text-overflow {
  display:inline-block;
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.text-justify{
  text-align:justify;
  text-justify:inter-ideograph;
}


// 按钮
// ==============================
.btn{
  font-weight 400
  box-sizing border-box
  text-align: center;
  white-space: nowrap
  vertical-align: middle
  touch-action manipulation
  border: 1px solid transparent
}
